workflows/00-Master-Orchestrator.json
{
  "name": "Master Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "coding-agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "b3f7a2d1-4e89-4c12-9f56-a1b2c3d4e5f6"
    },
    {
      "parameters": {
        "jsCode": "const query = $json.query || {};\nconst body = $json.body || $json;\nconst message = query.message || body.message || '';\nconst projectId = query.project_id || body.project_id || ('proj-' + Date.now());\nreturn [{ json: { message, project_id: projectId, operation: 'init', goal: message } }];"
      },
      "id": "extract-input",
      "name": "Extract Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": { "__rl": true, "value": "GYX1mqUEQtqkp9aQ", "mode": "id" },
        "options": {}
      },
      "id": "init-memory",
      "name": "Init Project Memory",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const memory = $json;\nconst message = $('Extract Input').first().json.message;\nreturn [{ json: {\n  message: message,\n  project_goal: memory.goal || message,\n  project_id: memory.project_id\n} }];"
      },
      "id": "prepare-planner",
      "name": "Prepare Planner Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": { "__rl": true, "value": "LKSE2piUblirwruU", "mode": "id" },
        "options": {}
      },
      "id": "call-planner",
      "name": "Call Planner Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "const tasks = $json.tasks || [];\nconst planDocument = $json.plan_document || '';\nconst plannerInput = $('Prepare Planner Input').first().json;\nconst projectId = plannerInput.project_id;\nconst projectGoal = plannerInput.project_goal;\n// Topological sort\nconst taskMap = new Map();\ntasks.forEach(t => taskMap.set(t.task_id, t));\nconst inDegree = new Map();\nconst dependents = new Map();\ntasks.forEach(t => {\n  inDegree.set(t.task_id, 0);\n  dependents.set(t.task_id, []);\n});\ntasks.forEach(t => {\n  const deps = (t.dependencies || []).filter(d => taskMap.has(d));\n  inDegree.set(t.task_id, deps.length);\n  deps.forEach(d => dependents.get(d).push(t.task_id));\n});\nconst queue = [];\ntasks.forEach(t => {\n  if (inDegree.get(t.task_id) === 0) queue.push(t.task_id);\n});\nconst sorted = [];\nwhile (queue.length > 0) {\n  const id = queue.shift();\n  sorted.push(taskMap.get(id));\n  for (const dep of (dependents.get(id) || [])) {\n    inDegree.set(dep, inDegree.get(dep) - 1);\n    if (inDegree.get(dep) === 0) queue.push(dep);\n  }\n}\nif (sorted.length < tasks.length) {\n  const sortedIds = new Set(sorted.map(t => t.task_id));\n  tasks.forEach(t => { if (!sortedIds.has(t.task_id)) sorted.push(t); });\n}\n// Store all tasks in staticData for manual loop\nconst staticData = $getWorkflowStaticData('global');\nstaticData.pendingTasks = sorted.slice(1).map(t => ({ task: t, project_id: projectId, project_goal: projectGoal, plan_document: planDocument }));\nstaticData.taskResults = [];\nconst firstTask = sorted[0] || { task_id: 'T1', description: 'No tasks planned' };\nreturn [{ json: { task: firstTask, project_id: projectId, project_goal: projectGoal, plan_document: planDocument } }];"
      },
      "id": "spread-tasks",
      "name": "Spread Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": { "__rl": true, "value": "7MbO1npw30NAmYYc", "mode": "id" },
        "options": {}
      },
      "id": "call-task-processor",
      "name": "Call Task Processor",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.taskResults) staticData.taskResults = [];\nstaticData.taskResults.push($json);\nconst hasMore = (staticData.pendingTasks || []).length > 0;\nreturn [{ json: { ...($json), _hasMoreTasks: hasMore } }];"
      },
      "id": "store-result",
      "name": "Store Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "has-more",
              "leftValue": "={{ $json._hasMoreTasks }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-more",
      "name": "Has More Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst pending = staticData.pendingTasks || [];\nconst next = pending.shift();\nstaticData.pendingTasks = pending;\nreturn [{ json: next }];"
      },
      "id": "get-next-task",
      "name": "Get Next Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst results = staticData.taskResults || [];\nstaticData.taskResults = [];\nstaticData.pendingTasks = [];\nreturn results.map(r => ({ json: r }));"
      },
      "id": "collect-results",
      "name": "Collect Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 450]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const taskResults = $input.all().map(item => item.json);\nconst allFiles = [...new Set(taskResults.flatMap(r => r.files_written || []))];\nconst projectId = $('Prepare Planner Input').first().json.project_id;\nconst projectGoal = $('Prepare Planner Input').first().json.project_goal;\nreturn [{ json: { task_results: taskResults, all_files: allFiles, project_id: projectId, project_goal: projectGoal } }];"
      },
      "id": "aggregate-all",
      "name": "Aggregate All Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 450]
    },
    {
      "parameters": {
        "jsCode": "const taskResults = $json.task_results || [];\nconst allFiles = $json.all_files || [];\nconst projectId = $json.project_id;\nconst completedTaskIds = taskResults.map(r => r.task_id);\nreturn [{ json: {\n  operation: 'set',\n  project_id: projectId,\n  state: {\n    status: 'completed',\n    completed_tasks: completedTaskIds,\n    files: allFiles\n  }\n} }];"
      },
      "id": "prepare-memory-update",
      "name": "Prepare Memory Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 450]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": { "__rl": true, "value": "GYX1mqUEQtqkp9aQ", "mode": "id" },
        "options": {}
      },
      "id": "update-memory",
      "name": "Update Project Memory",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [2650, 450]
    },
    {
      "parameters": {
        "jsCode": "const memory = $json;\nconst aggregated = $('Aggregate All Results').first().json;\nreturn [{ json: {\n  status: 'completed',\n  project_id: memory.project_id,\n  project_goal: memory.goal,\n  tasks_completed: (aggregated.task_results || []).length,\n  task_results: aggregated.task_results || [],\n  files_written: memory.files || []\n} }];"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2850, 450]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Extract Input", "type": "main", "index": 0 }]] },
    "Extract Input": { "main": [[{ "node": "Init Project Memory", "type": "main", "index": 0 }]] },
    "Init Project Memory": { "main": [[{ "node": "Prepare Planner Input", "type": "main", "index": 0 }]] },
    "Prepare Planner Input": { "main": [[{ "node": "Call Planner Agent", "type": "main", "index": 0 }]] },
    "Call Planner Agent": { "main": [[{ "node": "Spread Tasks", "type": "main", "index": 0 }]] },
    "Spread Tasks": { "main": [[{ "node": "Call Task Processor", "type": "main", "index": 0 }]] },
    "Call Task Processor": { "main": [[{ "node": "Store Result", "type": "main", "index": 0 }]] },
    "Store Result": { "main": [[{ "node": "Has More Tasks?", "type": "main", "index": 0 }]] },
    "Has More Tasks?": {
      "main": [
        [{ "node": "Get Next Task", "type": "main", "index": 0 }],
        [{ "node": "Collect Results", "type": "main", "index": 0 }]
      ]
    },
    "Get Next Task": { "main": [[{ "node": "Call Task Processor", "type": "main", "index": 0 }]] },
    "Collect Results": { "main": [[{ "node": "Aggregate All Results", "type": "main", "index": 0 }]] },
    "Aggregate All Results": { "main": [[{ "node": "Prepare Memory Update", "type": "main", "index": 0 }]] },
    "Prepare Memory Update": { "main": [[{ "node": "Update Project Memory", "type": "main", "index": 0 }]] },
    "Update Project Memory": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
