workflows/00-Master-Orchestrator.json
{
  "name": "Master Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "coding-agent",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst message = body.message || '';\nconst projectId = body.project_id || ('proj-' + Date.now());\nreturn [{ json: { message, project_id: projectId, operation: 'init', goal: message } }];"
      },
      "id": "extract-input",
      "name": "Extract Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": { "__rl": true, "value": "GYX1mqUEQtqkp9aQ", "mode": "id" },
        "options": {}
      },
      "id": "init-memory",
      "name": "Init Project Memory",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const memory = $json;\nconst message = $('Extract Input').first().json.message;\nreturn [{ json: {\n  message: message,\n  project_goal: memory.goal || message,\n  project_id: memory.project_id\n} }];"
      },
      "id": "prepare-planner",
      "name": "Prepare Planner Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": { "__rl": true, "value": "LKSE2piUblirwruU", "mode": "id" },
        "options": {}
      },
      "id": "call-planner",
      "name": "Call Planner Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "const tasks = $json.tasks || [];\nconst plannerInput = $('Prepare Planner Input').first().json;\nconst projectId = plannerInput.project_id;\nconst projectGoal = plannerInput.project_goal;\nif (tasks.length === 0) {\n  return [{ json: { task: { task_id: 'T1', description: 'No tasks planned' }, project_id: projectId, project_goal: projectGoal } }];\n}\nreturn tasks.map(task => ({ json: { task, project_id: projectId, project_goal: projectGoal } }));"
      },
      "id": "spread-tasks",
      "name": "Spread Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": { "__rl": true, "value": "7MbO1npw30NAmYYc", "mode": "id" },
        "options": {}
      },
      "id": "call-task-processor",
      "name": "Call Task Processor",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const taskResults = $input.all().map(item => item.json);\nconst allFiles = [...new Set(taskResults.flatMap(r => r.files_written || []))];\nconst projectId = $('Prepare Planner Input').first().json.project_id;\nconst projectGoal = $('Prepare Planner Input').first().json.project_goal;\nreturn [{ json: { task_results: taskResults, all_files: allFiles, project_id: projectId, project_goal: projectGoal } }];"
      },
      "id": "aggregate-all",
      "name": "Aggregate All Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "jsCode": "const taskResults = $json.task_results || [];\nconst allFiles = $json.all_files || [];\nconst projectId = $json.project_id;\nconst completedTaskIds = taskResults.map(r => r.task_id);\nreturn [{ json: {\n  operation: 'set',\n  project_id: projectId,\n  state: {\n    status: 'active',\n    completed_tasks: completedTaskIds,\n    files: allFiles\n  }\n} }];"
      },
      "id": "prepare-memory-update",
      "name": "Prepare Memory Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": { "__rl": true, "value": "GYX1mqUEQtqkp9aQ", "mode": "id" },
        "options": {}
      },
      "id": "update-memory",
      "name": "Update Project Memory",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "jsCode": "const memory = $json;\nconst aggregated = $('Aggregate All Results').first().json;\nreturn [{ json: {\n  status: 'completed',\n  project_id: memory.project_id,\n  project_goal: memory.goal,\n  tasks_completed: (aggregated.task_results || []).length,\n  task_results: aggregated.task_results || [],\n  files_written: memory.files || []\n} }];"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Extract Input", "type": "main", "index": 0 }]] },
    "Extract Input": { "main": [[{ "node": "Init Project Memory", "type": "main", "index": 0 }]] },
    "Init Project Memory": { "main": [[{ "node": "Prepare Planner Input", "type": "main", "index": 0 }]] },
    "Prepare Planner Input": { "main": [[{ "node": "Call Planner Agent", "type": "main", "index": 0 }]] },
    "Call Planner Agent": { "main": [[{ "node": "Spread Tasks", "type": "main", "index": 0 }]] },
    "Spread Tasks": { "main": [[{ "node": "Call Task Processor", "type": "main", "index": 0 }]] },
    "Call Task Processor": { "main": [[{ "node": "Aggregate All Results", "type": "main", "index": 0 }]] },
    "Aggregate All Results": { "main": [[{ "node": "Prepare Memory Update", "type": "main", "index": 0 }]] },
    "Prepare Memory Update": { "main": [[{ "node": "Update Project Memory", "type": "main", "index": 0 }]] },
    "Update Project Memory": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
