workflows/02-Code-Writer-Agent.json
{
  "updatedAt": "2026-03-16T06:08:56.954Z",
  "createdAt": "2026-03-15T22:58:11.411Z",
  "id": "I80DcZVmNUaZVVMl",
  "name": "Code Writer Agent - Generate Code",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-node",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "let taskDescription = $json.task?.description || $json.description || '';\n// Fallback: if task came through as {raw_output: '...'}, extract descriptions from it\nif (!taskDescription && $json.task?.raw_output) {\n  const raw = $json.task.raw_output;\n  const cleaned = raw.replace(/<\\/?task>/g, '').replace(/\\n+(?:Reasoning|Note):[\\s\\S]*/i, '').trim();\n  try {\n    const parsed = JSON.parse(cleaned);\n    const list = Array.isArray(parsed) ? parsed : (parsed.tasks || []);\n    taskDescription = list.map(t => `${t.task_id}: ${t.description}`).join('\\n\\n');\n  } catch(e) {\n    taskDescription = raw;\n  }\n}\nconst previousFeedback = $json.previous_feedback || '';\nconst feedbackSection = previousFeedback ? `\\n\\nPREVIOUS REVIEW FEEDBACK (you MUST address all of these):\\n${previousFeedback}` : '';\nconst existingFiles = $json.existing_files || [];\nconst existingFilesSection = existingFiles.length > 0\n  ? '\\n\\nEXISTING PROJECT FILES (read these carefully — modify or extend, do NOT rewrite files that do not need changes):\\n' +\n    existingFiles.map(f => `### ${f.path}\\n\\`\\`\\`\\n${f.content}\\n\\`\\`\\``).join('\\n\\n')\n  : '';\nreturn [{\n  json: {\n    model: 'local-model',\n    messages: [{\n      role: 'user',\n      content: `You are a Senior Full-Stack Developer. Output ONLY the files that need to be created or changed. Do not output files that are already correct.\\n\\nTech Stack: TypeScript, Node.js/Express, React/Vite, PostgreSQL/Prisma\\n\\nFor EACH file you need to create or modify, output EXACTLY this format:\\n### path/to/file.ts\\n\\`\\`\\`ts\\n[complete file content]\\n\\`\\`\\`\\n\\nRULES:\\n- Only output files that this task requires you to create or change\\n- Output complete file content (not diffs)\\n- No explanations, no numbered lists, no prose — ONLY the file blocks${feedbackSection}${existingFilesSection}\\n\\nTask:\\n${taskDescription}`\n    }],\n    temperature: 0.7,\n    top_p: 0.8,\n    top_k: 20,\n    min_p: 0.0,\n    presence_penalty: 1.5,\n    max_tokens: 16000\n  }\n}];"
      },
      "id": "build-request",
      "name": "Build Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.0.0.100:1234/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.LLM_API_KEY }}"
            }
          ]
        }
      },
      "id": "llm-request",
      "name": "Call LM Studio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices[0].message.content || '';\n// Strip thinking - handle both <think>...</think> and bare text ending with </think>\nlet content = raw.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\nif (content.includes('</think>')) {\n  content = content.split('</think>').pop().trim();\n}\nconst files = [];\nconst seen = new Set();\nconst re = /###\\s+((?:[\\w.-]+\\/)*[\\w.-]+\\.(?:ts|tsx|js|jsx|json|md|yml|yaml|env|prisma|css|html|sh|Dockerfile|gitignore))\\s*\\n```[\\w]*\\n([\\s\\S]*?)```/g;\nlet m;\nwhile ((m = re.exec(content)) !== null) {\n  const path = m[1].trim();\n  const fileContent = m[2];\n  if (path && !seen.has(path) && fileContent.trim().length > 20) {\n    seen.add(path);\n    files.push({ path, content: fileContent });\n  }\n}\nreturn [{ json: { files } }];"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Request": {
      "main": [
        [
          {
            "node": "Call LM Studio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LM Studio": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "558e86e5-85b3-44d3-952c-3ccea62577dd",
  "activeVersionId": null,
  "versionCounter": 52,
  "triggerCount": 0,
  "tags": [],
  "activeVersion": null
}