workflows/02-Code-Writer-Agent.json
{
  "updatedAt": "2026-03-16T06:08:56.954Z",
  "createdAt": "2026-03-15T22:58:11.411Z",
  "id": "I80DcZVmNUaZVVMl",
  "name": "Code Writer Agent - Generate Code",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-node",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst previousFeedback = input.previous_feedback || '';\nconst isRetry = previousFeedback.trim().length > 0;\nconst sessionId = input.session_id || ((input.project_id || 'proj') + '-' + (input.task?.task_id || 'default'));\nif (isRetry) {\n  // P2/P3: agent already has the code in conversation history — just send the feedback\n  return [{ json: {\n    session_id: sessionId,\n    task: input.task,\n    project_goal: input.project_goal,\n    user_message: `Issues found in your code. Fix ALL of them:\\n\\n${previousFeedback}\\n\\nOutput only the files that need to change, using the same ### path/to/file.ext \\`\\`\\`lang ... \\`\\`\\` format as before.`\n  } }];\n}\n// P1: full context message\nlet taskDescription = input.task?.description || input.description || '';\nif (!taskDescription && input.task?.raw_output) {\n  const raw = input.task.raw_output;\n  const cleaned = raw.replace(/<\\/?task>/g, '').replace(/\\n+(?:Reasoning|Note):[\\s\\S]*/i, '').trim();\n  try {\n    const parsed = JSON.parse(cleaned);\n    const list = Array.isArray(parsed) ? parsed : (parsed.tasks || []);\n    taskDescription = list.map(t => `${t.task_id}: ${t.description}`).join('\\n\\n');\n  } catch(e) { taskDescription = raw; }\n}\nconst existingFiles = input.existing_files || [];\nconst existingFilesSection = existingFiles.length > 0\n  ? '\\n\\nEXISTING PROJECT FILES (read carefully — modify or extend, do NOT rewrite files that do not need changes):\\n' +\n    existingFiles.map(f => `### ${f.path}\\n\\`\\`\\`\\n${f.content}\\n\\`\\`\\``).join('\\n\\n')\n  : '';\nreturn [{ json: {\n  session_id: sessionId,\n  task: input.task,\n  project_goal: input.project_goal,\n  user_message: `Task:\\n${taskDescription}${existingFilesSection}`\n} }];"
      },
      "id": "prepare-message",
      "name": "Prepare Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.LOCAL_AI_MODEL || 'local-model' }}"
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 16000,
          "frequencyPenalty": 0,
          "presencePenalty": 0
        }
      },
      "id": "lm-studio-model",
      "name": "LM Studio Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [650, 500],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "LM Studio"
        }
      }
    },
    {
      "parameters": {
        "sessionId": "={{ $json.session_id }}",
        "sessionTTL": 3600
      },
      "id": "redis-memory",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.0,
      "position": [850, 500],
      "credentials": {
        "redis": {
          "id": "REPLACE_WITH_REDIS_CREDENTIAL_ID",
          "name": "Redis Local"
        }
      }
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "options": {
          "systemMessage": "You are a Senior Full-Stack Developer. Output ONLY the files that need to be created or changed. Do not output files that are already correct.\n\nTech Stack: TypeScript, Node.js/Express, React/Vite, PostgreSQL/Prisma\n\nFor EACH file you need to create or modify, output EXACTLY this format:\n### path/to/file.ts\n```ts\n[complete file content]\n```\n\nRULES:\n- Only output files that this task requires you to create or change\n- Output complete file content (not diffs)\n- No explanations, no numbered lists, no prose — ONLY the file blocks"
        }
      },
      "id": "code-writer-agent",
      "name": "Code Writer Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output || '';\n// Strip thinking tokens if model emits them\nlet content = raw.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\nif (content.includes('</think>')) {\n  content = content.split('</think>').pop().trim();\n}\nconst files = [];\nconst seen = new Set();\nconst re = /###\\s+((?:[\\w.-]+\\/)*[\\w.-]+\\.(?:ts|tsx|js|jsx|json|md|yml|yaml|env|prisma|css|html|sh|Dockerfile|gitignore))\\s*\\n```[\\w]*\\n([\\s\\S]*?)```/g;\nlet m;\nwhile ((m = re.exec(content)) !== null) {\n  const path = m[1].trim();\n  const fileContent = m[2];\n  if (path && !seen.has(path) && fileContent.trim().length > 20) {\n    seen.add(path);\n    files.push({ path, content: fileContent });\n  }\n}\nconst trigger = $('Execute Workflow Trigger').first().json;\nreturn [{ json: { files, task: trigger.task, project_goal: trigger.project_goal } }];"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{"node": "Prepare Message", "type": "main", "index": 0}]]
    },
    "Prepare Message": {
      "main": [[{"node": "Code Writer Agent", "type": "main", "index": 0}]]
    },
    "Code Writer Agent": {
      "main": [[{"node": "Parse Response", "type": "main", "index": 0}]]
    },
    "LM Studio Chat Model": {
      "ai_languageModel": [[{"node": "Code Writer Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Redis Chat Memory": {
      "ai_memory": [[{"node": "Code Writer Agent", "type": "ai_memory", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "558e86e5-85b3-44d3-952c-3ccea62577dd",
  "activeVersionId": null,
  "versionCounter": 52,
  "triggerCount": 0,
  "tags": [],
  "activeVersion": null
}
