workflows/04-Quality-Reviewer-Agent.json
{
  "updatedAt": "2026-03-16T06:08:57.058Z",
  "createdAt": "2026-03-15T22:58:11.503Z",
  "id": "HsFpnZ5q2SGLy2En",
  "name": "Quality Reviewer Agent - Check Code Quality",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-node",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const files = $json.files || [];\nconst taskDesc = $json.task?.description || $json.description || '';\nconst projectGoal = $json.project_goal || '';\nconst code = files.map(f => `### ${f.path}\\n\\`\\`\\`\\n${f.content}\\n\\`\\`\\``).join('\\n\\n');\nconst context = (projectGoal || taskDesc) ? `\\n\\nProject Goal: ${projectGoal}\\nCurrent Task: ${taskDesc}\\n` : '';\nreturn [{\n  json: {\n    model: $env.LOCAL_AI_MODEL || 'local-model',\n    messages: [{\n      role: 'user',\n      content: `You are a Principal Software Architect. Review this code for quality.${context}\\n\\nCode:\\n${code}\\n\\nSet job_complete to true ONLY if ALL requirements from the task description are implemented with working code. If the task asks for tests, there must be tests. If it asks for docs, there must be docs.\\n\\nReturn ONLY valid JSON (no markdown, no explanation):\\n{\"quality_score\":number,\"job_complete\":boolean,\"strengths\":[\"...\"],\"areas_for_improvement\":[{\"area\":\"...\",\"current_state\":\"...\",\"target\":\"...\",\"fix\":\"...\"}],\"recommendations\":[\"...\"]}`\n    }],\n    temperature: 0.3,\n    top_p: 0.8,\n    top_k: 20,\n    min_p: 0.0,\n    presence_penalty: 0.0,\n    max_tokens: 2048\n  }\n}];"
      },
      "id": "build-request",
      "name": "Build Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.0.0.100:1234/v1/chat/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.LLM_API_KEY }}"
            }
          ]
        }
      },
      "id": "llm-request",
      "name": "Call LM Studio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices[0].message.content || '';\nlet content = raw.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\nif (content.includes('</think>')) content = content.split('</think>').pop().trim();\n// Strip markdown code block wrappers\ncontent = content.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '').trim();\n// Try to extract JSON object if surrounded by prose\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\nlet review;\ntry { review = JSON.parse(jsonMatch ? jsonMatch[0] : content); } catch (e) { review = { raw_output: content }; }\nreturn [{ json: { quality_review: review, security_review: $('Execute Workflow Trigger').first().json.security_review, files: $('Execute Workflow Trigger').first().json.files } }];"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Request": {
      "main": [
        [
          {
            "node": "Call LM Studio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LM Studio": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "eaf0bee5-c8c4-4a7e-a213-ae70da1b75af",
  "activeVersionId": null,
  "versionCounter": 58,
  "triggerCount": 0,
  "tags": [],
  "activeVersion": null
}