workflows/04-Task-Processor.json
{
  "name": "Task Processor",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const trigger = $json;\nconst task = trigger.task || {};\nconst taskFiles = task.files || [];\nconst projectId = trigger.project_id;\nconst projectGoal = trigger.project_goal || '';\nconst planDocument = trigger.plan_document || '';\nconst chunkSize = 2;\nconst chunks = [];\nfor (let i = 0; i < taskFiles.length; i += chunkSize) {\n  chunks.push(taskFiles.slice(i, i + chunkSize));\n}\nif (chunks.length === 0) {\n  chunks.push([]);\n}\n// Store remaining chunks in staticData for manual loop\nconst staticData = $getWorkflowStaticData('global');\nstaticData.pendingChunks = chunks.slice(1).map(chunkFiles => ({\n  chunk_files: chunkFiles,\n  task: task,\n  project_id: projectId,\n  project_goal: projectGoal,\n  plan_document: planDocument\n}));\nstaticData.chunkResults = [];\n// Return first chunk\nreturn [{ json: {\n  chunk_files: chunks[0],\n  task: task,\n  project_id: projectId,\n  project_goal: projectGoal,\n  plan_document: planDocument\n} }];"
      },
      "id": "split-chunks",
      "name": "Split Into Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": { "__rl": true, "value": "unV7QKDC4J1a9nUL", "mode": "id" },
        "options": {}
      },
      "id": "call-chunk-processor",
      "name": "Call Chunk Processor",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.chunkResults) staticData.chunkResults = [];\nstaticData.chunkResults.push($json);\nconst hasMore = (staticData.pendingChunks || []).length > 0;\nreturn [{ json: { ...($json), _hasMoreChunks: hasMore } }];"
      },
      "id": "store-chunk-result",
      "name": "Store Chunk Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "has-more-chunks",
              "leftValue": "={{ $json._hasMoreChunks }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-more-chunks",
      "name": "Has More Chunks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst pending = staticData.pendingChunks || [];\nconst next = pending.shift();\nstaticData.pendingChunks = pending;\nreturn [{ json: next }];"
      },
      "id": "get-next-chunk",
      "name": "Get Next Chunk",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst results = staticData.chunkResults || [];\nstaticData.chunkResults = [];\nstaticData.pendingChunks = [];\nconst allFilesWritten = [...new Set(results.flatMap(r => r.files_written || []))];\nreturn [{ json: { files_written: allFilesWritten, chunks_processed: results.length, success: results.every(r => r.success) } }];"
      },
      "id": "collect-chunk-results",
      "name": "Collect Chunk Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 450]
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Execute Workflow Trigger').first().json;\nconst task = trigger.task || {};\nconst aggregated = $json;\nreturn [{ json: {\n  task_id: task.task_id || 'unknown',\n  description: task.description || '',\n  files_written: aggregated.files_written || [],\n  chunks_processed: aggregated.chunks_processed || 0,\n  fixed: false\n} }];"
      },
      "id": "build-result",
      "name": "Build Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 450]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Split Into Chunks", "type": "main", "index": 0 }]]
    },
    "Split Into Chunks": {
      "main": [[{ "node": "Call Chunk Processor", "type": "main", "index": 0 }]]
    },
    "Call Chunk Processor": {
      "main": [[{ "node": "Store Chunk Result", "type": "main", "index": 0 }]]
    },
    "Store Chunk Result": {
      "main": [[{ "node": "Has More Chunks?", "type": "main", "index": 0 }]]
    },
    "Has More Chunks?": {
      "main": [
        [{ "node": "Get Next Chunk", "type": "main", "index": 0 }],
        [{ "node": "Collect Chunk Results", "type": "main", "index": 0 }]
      ]
    },
    "Get Next Chunk": {
      "main": [[{ "node": "Call Chunk Processor", "type": "main", "index": 0 }]]
    },
    "Collect Chunk Results": {
      "main": [[{ "node": "Build Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
