workflows/10-Research-Agent.json
{
  "name": "Research Agent - Library Docs",
  "nodes": [
    {
      "parameters": {},
      "id": "research-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst task = input.task || {};\nconst description = task.description || '';\nconst files = task.files || [];\nconst planDoc = input.plan_document || '';\n\n// Extract library hints from task description, file extensions, and plan\nconst allText = [description, planDoc, ...files].join(' ').toLowerCase();\nconst libraries = [];\n\n// Frontend frameworks\nif (allText.includes('heroui') || allText.includes('hero ui')) libraries.push('heroui');\nif (allText.includes('react') || files.some(f => f.endsWith('.tsx') || f.endsWith('.jsx'))) libraries.push('react');\nif (allText.includes('tailwind')) libraries.push('tailwindcss');\nif (allText.includes('vite')) libraries.push('vite');\nif (allText.includes('nextjs') || allText.includes('next.js')) libraries.push('nextjs');\n\n// Backend\nif (allText.includes('express')) libraries.push('express');\nif (allText.includes('prisma')) libraries.push('prisma');\nif (allText.includes('drizzle')) libraries.push('drizzle');\nif (allText.includes('fastify')) libraries.push('fastify');\nif (allText.includes('hono')) libraries.push('hono');\n\n// Utilities\nif (allText.includes('zod')) libraries.push('zod');\nif (allText.includes('trpc') || allText.includes('t3')) libraries.push('trpc');\nif (allText.includes('framer-motion') || allText.includes('framer motion')) libraries.push('framer-motion');\n\n// Deduplicate\nconst unique = [...new Set(libraries)];\n\n// Limit to top 3 most relevant (prioritize order they were found)\nconst topLibs = unique.slice(0, 3);\n\nreturn [{ json: { ...input, _libraries: topLibs } }];"
      },
      "id": "extract-libraries",
      "name": "Extract Libraries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://docky:8811/mcp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', id: 1, method: 'initialize', params: { protocolVersion: '2024-11-05', capabilities: {}, clientInfo: { name: 'n8n-research-agent', version: '1.0' } } }) }}",
        "options": {
          "response": { "response": { "fullResponse": true, "responseFormat": "text" } }
        }
      },
      "id": "init-mcp",
      "name": "Init MCP Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $('Extract Libraries').first().json;\nconst libraries = input._libraries || [];\nconst response = $json;\n\n// Extract session ID from headers\nconst headers = response.headers || {};\nconst sessionId = headers['mcp-session-id'] || '';\n\nif (!sessionId || libraries.length === 0) {\n  // No session or no libraries — skip research\n  const trigger = $('Execute Workflow Trigger').first().json;\n  return [{ json: { ...trigger, _reference: '', _skip: true } }];\n}\n\n// Build resolve requests for each library\nconst resolveRequests = libraries.map((lib, i) => ({\n  jsonrpc: '2.0',\n  id: i + 10,\n  method: 'tools/call',\n  params: {\n    name: 'resolve-library-id',\n    arguments: { libraryName: lib }\n  }\n}));\n\nreturn [{ json: { _sessionId: sessionId, _libraries: libraries, _resolveRequests: resolveRequests, _requestIndex: 0, _resolvedIds: [] } }];"
      },
      "id": "build-resolve",
      "name": "Build Resolve Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-skip",
      "name": "Should Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "// Resolve all libraries and fetch docs in one code node using $helpers\nconst input = $json;\nconst sessionId = input._sessionId;\nconst libraries = input._libraries || [];\nconst resolveRequests = input._resolveRequests || [];\n\nconst mcpUrl = 'http://docky:8811/mcp';\nconst headers = { 'Content-Type': 'application/json', 'Mcp-Session-Id': sessionId };\n\nfunction parseSseJson(text) {\n  const lines = text.split('\\n');\n  for (const line of lines) {\n    if (line.startsWith('data:')) {\n      try { return JSON.parse(line.substring(5).trim()); } catch(e) {}\n    }\n  }\n  try { return JSON.parse(text); } catch(e) { return null; }\n}\n\nconst allDocs = [];\n\nfor (let i = 0; i < resolveRequests.length; i++) {\n  try {\n    // Resolve library ID\n    const resolveRes = await fetch(mcpUrl, {\n      method: 'POST',\n      headers,\n      body: JSON.stringify(resolveRequests[i])\n    });\n    const resolveText = await resolveRes.text();\n    const resolveData = parseSseJson(resolveText);\n    \n    if (!resolveData?.result?.content?.[0]?.text) continue;\n    const resolveContent = resolveData.result.content[0].text;\n    \n    // Parse library ID from response\n    let libraryId = '';\n    const idMatch = resolveContent.match(/\\/[\\w/.-]+/);\n    if (idMatch) libraryId = idMatch[0];\n    if (!libraryId) continue;\n    \n    // Fetch docs\n    const docsReq = {\n      jsonrpc: '2.0',\n      id: 100 + i,\n      method: 'tools/call',\n      params: {\n        name: 'get-library-docs',\n        arguments: {\n          context7CompatibleLibraryID: libraryId,\n          tokens: 5000\n        }\n      }\n    };\n    \n    const docsRes = await fetch(mcpUrl, {\n      method: 'POST',\n      headers,\n      body: JSON.stringify(docsReq)\n    });\n    const docsText = await docsRes.text();\n    const docsData = parseSseJson(docsText);\n    \n    if (docsData?.result?.content?.[0]?.text) {\n      allDocs.push(`## ${libraries[i]} Documentation\\n\\n${docsData.result.content[0].text}`);\n    }\n  } catch(e) {\n    // Skip failed libraries\n  }\n}\n\nconst reference = allDocs.join('\\n\\n---\\n\\n');\nconst trigger = $('Execute Workflow Trigger').first().json;\nreturn [{ json: { ...trigger, _reference: reference } }];"
      },
      "id": "fetch-all-docs",
      "name": "Fetch All Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "jsCode": "// Pass through trigger data with empty reference\nconst trigger = $('Execute Workflow Trigger').first().json;\nreturn [{ json: { ...trigger, _reference: '' } }];"
      },
      "id": "skip-output",
      "name": "Skip Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 100]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Extract Libraries", "type": "main", "index": 0 }]]
    },
    "Extract Libraries": {
      "main": [[{ "node": "Init MCP Session", "type": "main", "index": 0 }]]
    },
    "Init MCP Session": {
      "main": [[{ "node": "Build Resolve Requests", "type": "main", "index": 0 }]]
    },
    "Build Resolve Requests": {
      "main": [[{ "node": "Should Skip?", "type": "main", "index": 0 }]]
    },
    "Should Skip?": {
      "main": [
        [{ "node": "Skip Output", "type": "main", "index": 0 }],
        [{ "node": "Fetch All Docs", "type": "main", "index": 0 }]
      ]
    },
    "Fetch All Docs": {
      "main": []
    },
    "Skip Output": {
      "main": []
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  }
}
