workflows/eek-go-v3.json
{
  "name": "eek-Go v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "coding-agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "wh-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "b3f7a2d1-4e89-4c12-9f56-a1b2c3d4e5f6"
    },
    {
      "parameters": {
        "jsCode": "const query = $json.query || {};\nconst body = $json.body || $json;\nconst message = query.message || body.message || body.goal || '';\nconst projectId = query.project_id || body.project_id || ('proj-' + Date.now());\nconst reference_url = query.reference_url || body.reference_url || null;\nconst image_data = body.image_data || null;\nreturn [{ json: { message, project_id: projectId, operation: 'init', goal: message, reference_url, image_data } }];"
      },
      "id": "extract-input",
      "name": "Extract Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.FILE_API_URL || 'http://file-api:3456') + '/projects/' + $json.project_id + '/files-content' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.FILE_API_TOKEN || '') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-project-files",
      "name": "Fetch Project Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// MODIFIED: Absorbs Research: Build Project Context\n// Caches _allFileContents, _researchDocs, _projectFileList in static data\n// so Phase 2 chunks don't need to re-fetch or re-compute.\nconst memory = $('Extract Input').first().json;\nconst message = $('Extract Input').first().json.message;\nconst allFiles = $json.files || [];\nconst staticData = $getWorkflowStaticData('global');\n\n// Cache all file contents for Phase 2\nstaticData._allFileContents = allFiles;\n\nconst fileList = allFiles.map(f => f.path);\n\n// Build API surface (exports from each file)\nconst apiSurface = [];\nfor (const f of allFiles) {\n  if (!f.path.match(/\\.(ts|tsx|js|jsx)$/) || f.path.includes('node_modules')) continue;\n  const lines = (f.content || '').split('\\n');\n  const exports = [];\n  for (const line of lines) {\n    const trimmed = line.trim();\n    if (/^export\\s+default\\s/.test(trimmed)) {\n      exports.push(trimmed.replace(/\\{[\\s\\S]*$/, '{...}').substring(0, 120));\n    } else if (/^export\\s+(const|let|var|function|class|interface|type|enum)\\s/.test(trimmed)) {\n      exports.push(trimmed.replace(/\\{[\\s\\S]*$/, '{...}').replace(/=>[\\s\\S]*$/, '=> ...').substring(0, 150));\n    } else if (/^export\\s+\\{/.test(trimmed)) {\n      exports.push(trimmed.substring(0, 150));\n    }\n  }\n  if (exports.length > 0) {\n    apiSurface.push(`## ${f.path}\\n${exports.join('\\n')}`);\n  }\n}\n\n// Extract dependencies from package.json\nlet dependencies = {};\nlet devDependencies = {};\nlet depNames = [];\nfor (const f of allFiles) {\n  if (f.path === 'package.json' || f.path.endsWith('/package.json')) {\n    try {\n      const pkg = JSON.parse(f.content);\n      dependencies = { ...dependencies, ...(pkg.dependencies || {}) };\n      devDependencies = { ...devDependencies, ...(pkg.devDependencies || {}) };\n      depNames = [...Object.keys(pkg.dependencies || {}), ...Object.keys(pkg.devDependencies || {})];\n    } catch(e) {}\n  }\n}\n\n// Build research docs string\nconst depList = Object.entries(dependencies).map(([k,v]) => `  ${k}: ${v}`).join('\\n');\nconst devDepList = Object.entries(devDependencies).map(([k,v]) => `  ${k}: ${v}`).join('\\n');\nlet researchDocs = '';\nif (depList || devDepList) {\n  researchDocs += '## Dependency Manifest\\nOnly use packages listed here.\\n';\n  if (depList) researchDocs += `dependencies:\\n${depList}\\n`;\n  if (devDepList) researchDocs += `devDependencies:\\n${devDepList}\\n`;\n}\nif (apiSurface.length > 0) {\n  researchDocs += '\\n## Project API Surface\\nMatch these import/export signatures exactly when importing from project files.\\n';\n  researchDocs += apiSurface.join('\\n\\n');\n}\n\n// Cache for all downstream phases\nstaticData._researchDocs = researchDocs;\nstaticData._projectFileList = fileList;\nstaticData._projectApiSummary = apiSurface.join('\\n');\nstaticData._projectDeps = depNames;\n\nreturn [{ json: {\n  message,\n  project_goal: memory.goal || message,\n  project_id: memory.project_id,\n  existing_files: fileList,\n  api_summary: apiSurface.join('\\n'),\n  installed_packages: depNames\n} }];"
      },
      "id": "prepare-planner",
      "name": "Prepare Planner Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const message = $json.message || '';\nconst existingFiles = $json.existing_files || [];\nconst apiSummary = $json.api_summary || '';\nconst installedPkgs = $json.installed_packages || [];\nconst scrapeData = $json._scrapeData;\n\nlet projectContext = '';\nif (existingFiles.length > 0) {\n  projectContext += `\\n\\nEXISTING PROJECT FILES (only reference files from this list):\\n${existingFiles.join('\\n')}\\n`;\n}\nif (apiSummary) {\n  projectContext += `\\nAPI SURFACE (exports from each file):\\n${apiSummary}\\n`;\n}\nif (installedPkgs.length > 0) {\n  projectContext += `\\nINSTALLED PACKAGES (only reference packages from this list):\\n${installedPkgs.join(', ')}\\n`;\n}\n\nconst plannerPrompt = `You are a Senior Software Architect and UI/UX Design Expert. Your job is to break a coding request into MULTIPLE structured tasks with detailed visual specifications.\n\nDESIGN PRINCIPLES (apply to ALL task descriptions):\n- Main interaction element must be centered and dominant (40-60% of viewport height)\n- Use vertical single-column layouts for apps/games \u2014 never side-by-side grids unless explicitly requested\n- Content hierarchy: hero/main action at top \u2192 stats/feedback \u2192 secondary actions (shop, settings) at bottom\n- Mobile-first: everything fits in 100vh, no page-level scrollbars, internal scrolling only for lists\n- Dark backgrounds with bright accent colors. Use gradients for depth (purple-900 to black, not flat colors)\n- Every click/tap must produce visible feedback (scale animation, color flash, particle effect)\n- Numbers should animate when they change (bounce, pulse, scale). Use tabular-nums for counters\n- Cards: rounded-xl (12-16px), subtle shadows, semi-transparent backgrounds with backdrop-blur\n- Buttons: press animation (scale 0.95), hover glow, disabled state with reduced opacity\n- Color-code affordability: gold/amber = available, red/gray = locked, green = owned/success\n- Typography: big bold numbers (text-4xl+), clear hierarchy via weight not just size\n- Spacing: generous padding, never cramped. Mobile touch targets minimum 44px\n\nWHEN A REFERENCE IMAGE IS PROVIDED:\n- Describe the EXACT layout structure you see: column vs row, spacing ratios, component sizes\n- Specify exact colors, gradients, border styles, and shadows visible in the image\n- Note the visual hierarchy: what's biggest, what's brightest, what draws the eye first\n- Describe animations or interactive states implied by the design (hover effects, active states)\n- Include specific dimensions: \"toilet button should be 150px diameter\" not just \"large button\"\n- The coder CANNOT see the image \u2014 your description is their ONLY reference Each task will be handled by a separate coder with 128K context who can write up to 6 files at once.\\n\\nOutput a JSON object with ONE field:\\n\\n\"tasks\": array of task objects. IMPORTANT: You MUST create multiple tasks. Group files by concern (e.g. styles in one task, frontend components in another, config in another). Each task has:\\n- task_id: string like \"TASK-001\"\\n- description: detailed actionable description of what to implement, including specific requirements, color values, component names, API endpoints, and behavior. The coder cannot see the original request \u2014 your description is all they get.\\n- files: array of exact file paths to create or modify. List EVERY file this task needs \u2014 the coder can ONLY write files listed here. For existing projects, prefer modifying files from the EXISTING PROJECT FILES list. For new projects or missing functionality, CREATE new file paths as needed.\\n- dependencies: array of task_id strings this task depends on (empty if none)\\n- complexity: \"low\", \"medium\", or \"high\"\n- needs_concept: boolean \u2014 set to true if this task involves UI/visual work that has NO reference image from the user. Set to false if the user provided a reference image that covers this task's visual design, or if the task is purely logic/config with no visual component.\\n\\nRULES:\\n- Always split work across multiple tasks by concern: styles, components, routes, config, etc.\\n- Each task can touch up to 12-15 files. The coder has 128K context and currently uses less than 2% of it \u2014 give it MORE work per task. Aim for 2-3 LARGE tasks instead of many small ones. A single task can contain an entire feature (components + hooks + styles + config). Fewer tasks = faster pipeline\\n- The description must be SELF-CONTAINED \u2014 include ALL details the coder needs\\n- For existing projects, reference files from the EXISTING PROJECT FILES list when modifying. You MAY create new files that do not exist yet.\n- CRITICAL: For new projects (empty file list), you MUST include a setup task that creates: package.json (with ALL dependencies), index.html, vite.config.js (or next.config.js), tsconfig.json (if TypeScript), tailwind.config.js + postcss.config.js (if using Tailwind), and the main entry point (src/main.jsx or app/layout.tsx). The project MUST be buildable.\\n- Detect the project type from the files and packages. If the project is a React/Vite frontend (no Express or backend framework in INSTALLED PACKAGES), focus all tasks on frontend files. Only create server/middleware/API handler tasks if Express or a similar backend framework is in INSTALLED PACKAGES.\\n- In each task description, specify the EXACT import/export style each file should use (named vs default) based on the API SURFACE above.\\n- NEVER create a task whose only purpose is deleting files. The coder cannot delete files \u2014 it can only create or modify. If dead files exist, ignore them. They do not affect the build.\n- The FIRST task should always include project configuration files (package.json, config files, index.html) if they do not already exist. The project MUST compile and run after all tasks complete.\n- Output ONLY the raw JSON object: {\"tasks\": [...]}\\n- No markdown, no explanation \u2014 ONLY the JSON with tasks`;\n\nlet messageContent;\nif (scrapeData && scrapeData.screenshot_b64) {\n  const cssTokensStr = JSON.stringify(scrapeData.css_tokens, null, 2);\n  const domStr = scrapeData.dom_summary || '';\n  messageContent = [\n    { type: 'image_url', image_url: { url: `data:image/png;base64,${scrapeData.screenshot_b64}` } },\n    { type: 'text', text: `${plannerPrompt}\\n\\nREFERENCE DESIGN (screenshot above):\\nCSS Tokens:\\n${cssTokensStr}\\n\\nDOM Structure:\\n${domStr}\\n\\nRequest: ${message}${projectContext}\\n\\n(Match the visual design, color palette, typography, and layout from the screenshot)` }\n  ];\n} else if ($('Extract Input').first().json.image_data) {\n  const userImage = $('Extract Input').first().json.image_data;\n  messageContent = [\n    { type: 'image_url', image_url: { url: 'data:image/png;base64,' + userImage } },\n    { type: 'text', text: plannerPrompt + '\\n\\nREFERENCE IMAGE (uploaded by user \u2014 replicate this design):\\n\\nRequest: ' + message + projectContext }\n  ];\n} else {\n  messageContent = `${plannerPrompt}\\n\\nRequest: ${message}${projectContext}`;\n}\n\nreturn [{\n  json: {\n    model: $env.PLANNER_MODEL || 'qwen3.5-27b@q4_k_m',\n    messages: [{ role: 'user', content: messageContent }],\n    temperature: 1.0,\n    top_p: 0.95,\n    top_k: 20,\n    min_p: 0.0,\n    presence_penalty: 0.0,\n    max_tokens: 8192,\n    chat_template_kwargs: { enable_thinking: true, max_thinking_tokens: 4096 }\n  }\n}];"
      },
      "id": "planner-build",
      "name": "Planner: Build Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices[0].message.content || $json.choices[0].message.reasoning_content || '';\nlet content = raw.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\nif (content.includes('</think>')) content = content.split('</think>').pop().trim();\ncontent = content.replace(/<\\/?task>/g, '').trim();\ncontent = content.replace(/\\n+(?:Reasoning|Note|Explanation):[\\s\\S]*/i, '').trim();\ncontent = content.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '').trim();\n\nlet tasks, planDocument = '';\ntry {\n  const parsed = JSON.parse(content);\n  if (Array.isArray(parsed)) {\n    tasks = parsed;\n  } else {\n    tasks = parsed.tasks || [parsed];\n    planDocument = parsed.plan_document || '';\n  }\n} catch (e) {\n  // Truncated JSON recovery: extract complete task objects\n  const tasksMatch = content.match(/\"tasks\"\\s*:\\s*\\[/);\n  if (tasksMatch) {\n    const arrStart = content.indexOf('[', tasksMatch.index);\n    let bracketDepth = 0;\n    let lastCompleteObj = -1;\n    for (let i = arrStart; i < content.length; i++) {\n      if (content[i] === '{') bracketDepth++;\n      if (content[i] === '}') {\n        bracketDepth--;\n        if (bracketDepth === 0) lastCompleteObj = i;\n      }\n    }\n    if (lastCompleteObj > arrStart) {\n      const recoveredArr = content.substring(arrStart, lastCompleteObj + 1) + ']';\n      try {\n        tasks = JSON.parse(recoveredArr);\n      } catch (e2) {\n        tasks = [{ task_id: 'TASK-FALLBACK-' + Date.now(), description: content, files: [], dependencies: [], complexity: 'high' }];\n      }\n    } else {\n      tasks = [{ task_id: 'TASK-FALLBACK-' + Date.now(), description: content, files: [], dependencies: [], complexity: 'high' }];\n    }\n  } else {\n    tasks = [{ task_id: 'TASK-FALLBACK-' + Date.now(), description: content, files: [], dependencies: [], complexity: 'high' }];\n  }\n}\n\ntasks = tasks.map(t => ({\n  ...t,\n  files: t.files || [],\n  dependencies: t.dependencies || [],\n  complexity: t.complexity || 'medium'\n}));\n\nreturn [{ json: { tasks, plan_document: planDocument } }];"
      },
      "id": "planner-parse",
      "name": "Planner: Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        300
      ]
    },
    {
      "id": "research-fetch-docs",
      "name": "Research: Fetch Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        300
      ],
      "parameters": {
        "jsCode": "// Research: Fetch library docs \u2014 Context7 \u2192 Exa fallback \u2192 Magic UI\nconst http = require('http');\nconst https = require('https');\nconst staticData = $getWorkflowStaticData('global');\nconst allFiles = staticData._allFileContents || [];\nconst tasks = $json.tasks || [];\n\n// \u2500\u2500\u2500 1. Extract libraries from package.json + task text \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst libs = new Set();\nconst pkgFile = allFiles.find(f => f.path === 'package.json');\nif (pkgFile) {\n  try {\n    const pkg = JSON.parse(pkgFile.content);\n    for (const dep of Object.keys(pkg.dependencies || {})) libs.add(dep);\n    for (const dep of Object.keys(pkg.devDependencies || {})) libs.add(dep);\n  } catch(e) {}\n}\nconst taskText = tasks.map(t => t.description || '').join(' ').toLowerCase();\nconst knownLibs = ['react', 'next', 'nextjs', 'vite', 'tailwindcss', 'tailwind', 'express', 'prisma', 'framer-motion', 'heroui', 'zustand', 'zod', 'three', 'react-three', 'r3f', 'drei', '@react-three/fiber', '@react-three/drei'];\nfor (const lib of knownLibs) {\n  if (taskText.includes(lib)) {\n    const mapped = {'nextjs':'next','tailwind':'tailwindcss','react-three':'@react-three/fiber','r3f':'@react-three/fiber','drei':'@react-three/drei'};\n    libs.add(mapped[lib] || lib);\n  }\n}\nif (allFiles.some(f => f.path.match(/\\.(jsx|tsx)$/))) libs.add('react');\nconst skipList = new Set(['autoprefixer', 'postcss', 'typescript', 'vite', '@vitejs/plugin-react', '@types/react', '@types/node', '@types/react-dom', 'eslint', 'prettier']);\nconst toFetch = [...libs].filter(l => !skipList.has(l)).slice(0, 7);\n\nif (toFetch.length === 0) {\n  staticData._researchDocs = '';\n  return [{ json: $json }];\n}\n\n// \u2500\u2500\u2500 2. MCP helpers \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction mcpRequest(sessionId, method, params) {\n  return new Promise((resolve, reject) => {\n    const body = JSON.stringify({ jsonrpc: '2.0', method, params, id: Date.now() });\n    const req = http.request({\n      hostname: 'docky', port: 8811, path: '/mcp', method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Accept': 'application/json, text/event-stream',\n        'Content-Length': Buffer.byteLength(body),\n        ...(sessionId ? { 'Mcp-Session-Id': sessionId } : {})\n      }\n    }, res => {\n      let data = '';\n      res.on('data', c => data += c);\n      res.on('end', () => resolve({ data, sessionId: res.headers['mcp-session-id'] }));\n    });\n    req.on('error', reject);\n    req.setTimeout(20000, () => { req.destroy(); reject(new Error('timeout')); });\n    req.write(body); req.end();\n  });\n}\n\n// Exa MCP helper (HTTPS to mcp.exa.ai)\nfunction exaRequest(sessionId, method, params) {\n  return new Promise((resolve, reject) => {\n    const body = JSON.stringify({ jsonrpc: '2.0', method, params, id: Date.now() });\n    const headers = {\n      'Content-Type': 'application/json',\n      'Accept': 'application/json, text/event-stream',\n      'Content-Length': Buffer.byteLength(body),\n    };\n    if (sessionId) headers['Mcp-Session-Id'] = sessionId;\n    const req = https.request({\n      hostname: 'mcp.exa.ai', port: 443, path: '/mcp', method: 'POST', headers\n    }, res => {\n      let data = '';\n      if (!sessionId && res.headers['mcp-session-id']) {\n        sessionId = res.headers['mcp-session-id'];\n      }\n      res.on('data', c => data += c);\n      res.on('end', () => resolve({ data, sessionId }));\n    });\n    req.on('error', reject);\n    req.setTimeout(30000, () => { req.destroy(); reject(new Error('exa timeout')); });\n    req.write(body); req.end();\n  });\n}\n\nfunction parseSSE(raw) {\n  for (const line of raw.split('\\n')) {\n    if (line.startsWith('data: ') || line.startsWith('data:')) {\n      const payload = line.startsWith('data: ') ? line.slice(6) : line.slice(5);\n      try { return JSON.parse(payload); } catch(e) {}\n    }\n  }\n  try { return JSON.parse(raw); } catch(e) {}\n  return {};\n}\n\nconst docs = [];\nconst errors = [];\nlet docSource = 'none';\n\n// \u2500\u2500\u2500 3. Try Context7 first \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\ntry {\n  const init = await mcpRequest(null, 'initialize', {\n    protocolVersion: '2024-11-05', capabilities: {},\n    clientInfo: { name: 'eek-go-research', version: '1.0' }\n  });\n  const sid = init.sessionId;\n  if (!sid) throw new Error('No MCP session ID');\n\n  for (const lib of toFetch) {\n    try {\n      const resolve = await mcpRequest(sid, 'tools/call', {\n        name: 'resolve-library-id', arguments: { libraryName: lib }\n      });\n      const resolveData = parseSSE(resolve.data);\n      const resolveText = (resolveData.result?.content || []).map(c => c.text || '').join('');\n      if (resolveText.includes('Failed to retrieve')) { errors.push(lib + ': ctx7 failed'); continue; }\n      const idMatch = resolveText.match(/Context7-compatible library ID:\\s*(\\/[\\w.-]+\\/[\\w.-]+)/);\n      if (!idMatch) { errors.push(lib + ': no ID'); continue; }\n\n      const docsResp = await mcpRequest(sid, 'tools/call', {\n        name: 'get-library-docs',\n        arguments: { context7CompatibleLibraryID: idMatch[1], tokens: 5000, topic: 'setup components hooks API examples' }\n      });\n      const docsData = parseSSE(docsResp.data);\n      const docText = (docsData.result?.content || []).map(c => c.text || '').join('');\n      if (docText.length > 100 && !docText.includes('Failed to retrieve')) {\n        docs.push('## ' + lib + '\\n' + docText.substring(0, 8000));\n        docSource = 'context7';\n      }\n    } catch(e) { errors.push(lib + ': ' + e.message); }\n  }\n} catch(e) {\n  errors.push('ctx7 init: ' + e.message);\n}\n\n// \u2500\u2500\u2500 4. Exa fallback \u2014 if Context7 returned 0 docs \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (docs.length === 0) {\n  try {\n    const exaInit = await exaRequest(null, 'initialize', {\n      protocolVersion: '2024-11-05', capabilities: {},\n      clientInfo: { name: 'eek-go-research', version: '1.0' }\n    });\n    const exaSid = exaInit.sessionId;\n\n    // Batch libraries into 2-3 targeted queries instead of one per lib\n    const mainLibs = toFetch.filter(l => !l.startsWith('@types'));\n    const queries = [];\n    // Group into max 3 queries\n    if (mainLibs.length <= 3) {\n      for (const lib of mainLibs) {\n        queries.push(lib + ' API documentation examples hooks components');\n      }\n    } else {\n      // Combine into fewer queries\n      const chunk1 = mainLibs.slice(0, 3).join(' ');\n      const chunk2 = mainLibs.slice(3).join(' ');\n      queries.push(chunk1 + ' API documentation examples');\n      if (chunk2) queries.push(chunk2 + ' API documentation examples');\n    }\n\n    for (const query of queries.slice(0, 3)) {\n      try {\n        const resp = await exaRequest(exaSid, 'tools/call', {\n          name: 'get_code_context_exa',\n          arguments: { query, num_results: 2 }\n        });\n        const respData = parseSSE(resp.data);\n        const text = (respData.result?.content || []).map(c => c.text || '').join('');\n        if (text.length > 200) {\n          // Trim to 6K chars per query to keep total context reasonable\n          docs.push('## Docs: ' + query.split(' API ')[0] + '\\n' + text.substring(0, 6000));\n          docSource = 'exa';\n        }\n      } catch(e) { errors.push('exa: ' + e.message); }\n    }\n  } catch(e) {\n    errors.push('exa init: ' + e.message);\n  }\n}\n\n// \u2500\u2500\u2500 5. Design guide (always included) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst designGuide = `## UI/UX Design Principles for Web Applications\n\n### Layout\n- Main interaction element must be centered and visually dominant (40-60% of viewport)\n- Use vertical single-column layouts for game/app UIs \u2014 never side-by-side grids unless it's a dashboard\n- Content hierarchy: hero/main action \u2192 stats/feedback \u2192 secondary actions (shop, settings)\n- Mobile-first: everything should work on a 375px wide screen and scale up\n- Scrollable secondary content (shops, lists) should never push the main interaction off-screen\n\n### Visual Feedback\n- Every user interaction (click, purchase, hover) MUST produce visible feedback\n- Number changes should animate (bounce, scale pulse, color flash)\n- Buttons: press animation (scale 0.95), hover glow/lift, disabled state with reduced opacity\n- Success actions: green flash, checkmark, particle burst\n- Use CSS transitions (200-300ms) on all interactive elements\n\n### Color & Contrast\n- Dark backgrounds with bright accent colors for maximum contrast\n- Use gradients over flat colors for depth (e.g., purple-900 to indigo-950)\n- Interactive elements should be the brightest items on screen\n- Text must have sufficient contrast \u2014 white/yellow on dark, with text-shadow for readability\n\n### Typography\n- Big, bold numbers for scores/stats (text-4xl to text-6xl)\n- Clear hierarchy: title (bold, large) \u2192 subtitle (medium) \u2192 body (regular, smaller)\n- Monospace or tabular numbers for counters that change frequently\n\n### Animation\n- Idle animations (slow pulse, float, rotate) make the UI feel alive\n- Click animations should be fast (100-200ms) and snappy\n- Spawn/death animations for appearing/disappearing elements\n- Use CSS will-change on animated elements for performance\n\n### Cards & Containers\n- Rounded corners (border-radius: 12-16px)\n- Subtle shadows for depth (shadow-lg, shadow-xl)\n- Semi-transparent backgrounds with backdrop-blur for overlay panels\n- Hover: lift (translateY -2 to -4px) + shadow increase`;\n\n// \u2500\u2500\u2500 6. Magic UI component examples \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nlet magicDocs = '';\ntry {\n  const uiKeywords = [];\n  const taskDescs = tasks.map(t => (t.description || '').toLowerCase()).join(' ');\n  const uiPatterns = ['button', 'card', 'shop', 'form', 'input', 'modal', 'dialog', 'nav', 'header', 'footer', 'sidebar', 'menu', 'table', 'list', 'grid', 'dashboard', 'counter', 'score', 'game', 'animation', 'toggle', 'dropdown'];\n  for (const p of uiPatterns) {\n    if (taskDescs.includes(p)) uiKeywords.push(p);\n  }\n  if (uiKeywords.length > 0) {\n    const magicInit = await new Promise((resolve, reject) => {\n      const body = JSON.stringify({ jsonrpc: '2.0', method: 'initialize', params: { protocolVersion: '2024-11-05', capabilities: {}, clientInfo: { name: 'eek-go-magic', version: '1.0' } }, id: Date.now() });\n      const req = http.request({\n        hostname: 'docky', port: 8811, path: '/mcp', method: 'POST',\n        headers: { 'Content-Type': 'application/json', 'Accept': 'application/json, text/event-stream', 'Content-Length': Buffer.byteLength(body) }\n      }, res => {\n        let data = ''; res.on('data', c => data += c);\n        res.on('end', () => resolve({ data, sessionId: res.headers['mcp-session-id'] }));\n      });\n      req.on('error', reject);\n      req.setTimeout(10000, () => { req.destroy(); reject(new Error('timeout')); });\n      req.write(body); req.end();\n    });\n    const magicSid = magicInit.sessionId;\n    if (magicSid) {\n      const searchTerms = uiKeywords.slice(0, 3).map(k => k + ' component');\n      for (const query of searchTerms) {\n        try {\n          const inspResp = await mcpRequest(magicSid, 'tools/call', {\n            name: '21st_magic_component_inspiration',\n            arguments: { message: 'I need a modern ' + query + ' for a web app', searchQuery: query }\n          });\n          const inspData = parseSSE(inspResp.data);\n          const inspText = (inspData.result?.content || []).map(c => c.text || '').join('');\n          if (inspText.length > 200) {\n            try {\n              const components = JSON.parse(inspText);\n              if (Array.isArray(components)) {\n                const examples = components.slice(0, 2).map(c => {\n                  const code = c.demoCode || c.code || '';\n                  const name = c.demoName || c.name || query;\n                  return '### ' + name + '\\n```tsx\\n' + code + '\\n```';\n                }).join('\\n\\n');\n                if (examples.length > 100) magicDocs += '\\n\\n## Magic UI: ' + query + '\\n' + examples;\n              }\n            } catch(e) {\n              if (inspText.length > 100) magicDocs += '\\n\\n## Magic UI: ' + query + '\\n' + inspText.substring(0, 4000);\n            }\n          }\n        } catch(e) {}\n      }\n    }\n  }\n} catch(e) {}\n\nif (magicDocs) docs.push('## UI Component Examples (from 21st.dev Magic)\\n' + magicDocs);\n\n// \u2500\u2500\u2500 7. Assemble final research docs \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst sourceLabel = docSource === 'exa' ? 'Exa Web Search' : docSource === 'context7' ? 'Context7' : 'Design Guide Only';\nstaticData._researchDocs = docs.length > 0\n  ? designGuide + '\\n\\n---\\n\\n## Library Documentation (from ' + sourceLabel + ')\\n\\n' + docs.join('\\n\\n---\\n\\n')\n  : designGuide;\n\n// \u2500\u2500\u2500 8. Callback to Forge \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\ntry {\n  const projectId = $('Extract Input').first().json.project_id || staticData._currentProjectId || 'unknown';\n  const cbBody = JSON.stringify({\n    event: 'research_complete', project_id: projectId,\n    data: { libraries_fetched: toFetch, doc_count: docs.length, doc_chars: docs.reduce((s,d) => s+d.length, 0), source: docSource, errors: errors.length ? errors : undefined }\n  });\n  const req = http.request({\n    hostname: 'forge', port: 3500, path: '/api/status-callback', method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Accept': 'application/json', 'Content-Length': Buffer.byteLength(cbBody) }\n  });\n  req.on('error', () => {});\n  req.write(cbBody); req.end();\n} catch(e) {}\n\nreturn [{ json: $json }];\n"
      }
    },
    {
      "parameters": {
        "jsCode": "// MODIFIED: Absorbs Split Into Chunks. Builds flat (task, chunk) queue.\n// Queue is passed through data pipeline (not static data) to avoid stale reads after HTTP nodes.\nconst tasks = $json.tasks || [];\nconst planDocument = $json.plan_document || '';\nconst plannerInput = $('Prepare Planner Input').first().json;\nconst projectId = plannerInput.project_id;\nconst projectGoal = plannerInput.project_goal;\n\n// Topological sort\nconst taskMap = new Map();\ntasks.forEach(t => taskMap.set(t.task_id, t));\nconst inDegree = new Map();\nconst dependents = new Map();\ntasks.forEach(t => {\n  inDegree.set(t.task_id, 0);\n  dependents.set(t.task_id, []);\n});\ntasks.forEach(t => {\n  const deps = (t.dependencies || []).filter(d => taskMap.has(d));\n  inDegree.set(t.task_id, deps.length);\n  deps.forEach(d => dependents.get(d).push(t.task_id));\n});\nconst topoQueue = [];\ntasks.forEach(t => {\n  if (inDegree.get(t.task_id) === 0) topoQueue.push(t.task_id);\n});\nconst sorted = [];\nwhile (topoQueue.length > 0) {\n  const id = topoQueue.shift();\n  sorted.push(taskMap.get(id));\n  for (const dep of (dependents.get(id) || [])) {\n    inDegree.set(dep, inDegree.get(dep) - 1);\n    if (inDegree.get(dep) === 0) topoQueue.push(dep);\n  }\n}\nif (sorted.length < tasks.length) {\n  const sortedIds = new Set(sorted.map(t => t.task_id));\n  tasks.forEach(t => { if (!sortedIds.has(t.task_id)) sorted.push(t); });\n}\n\n// Flatten into (task, chunk) queue \u2014 2 files per chunk\nconst chunkSize = 15;\nconst queue = [];\nfor (const task of sorted) {\n  const taskFiles = task.files || [];\n  const chunks = [];\n  for (let i = 0; i < taskFiles.length; i += chunkSize) {\n    chunks.push(taskFiles.slice(i, i + chunkSize));\n  }\n  if (taskFiles.length === 0) continue;  // skip tasks with no files assigned\n  for (const chunkFiles of chunks) {\n    queue.push({\n      task,\n      chunk_files: chunkFiles,\n      project_id: projectId,\n      project_goal: projectGoal,\n      plan_document: planDocument\n    });\n  }\n}\n\nconst staticData = $getWorkflowStaticData('global');\nstaticData.p2Results = [];\nstaticData.allTasks = sorted;\nstaticData._queueTotal = queue.length;\nstaticData._queueDone = 0;\n\nif (queue.length === 0) {\n  return [{ json: { task: { task_id: 'NONE', description: 'No tasks', files: [] }, chunk_files: [], project_id: projectId, project_goal: projectGoal, plan_document: planDocument, _p2Queue: [] } }];\n}\n// Pass remaining queue items through data pipeline instead of static data\nconst first = queue[0];\nfirst._p2Queue = queue.slice(1);\nreturn [{ json: first }];"
      },
      "id": "spread-tasks",
      "name": "Spread Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1850,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// P2: Stash Context \u2014 passes through all fields including _p2Queue for loop control\nconst staticData = $getWorkflowStaticData('global');\nstaticData._currentProjectId = $json.project_id;\nstaticData._currentTaskId = ($json.task || {}).task_id || '';\nstaticData._currentTask = $json.task || null;\nstaticData._currentProjectGoal = $json.project_goal || '';\nstaticData._currentQueue = $json._p2Queue || [];  // snapshot queue for this iteration\nreturn [{ json: {\n  task: $json.task,\n  chunk_files: $json.chunk_files,\n  project_id: $json.project_id,\n  project_goal: $json.project_goal,\n  plan_document: $json.plan_document,\n  _p2Queue: $json._p2Queue || []\n} }];"
      },
      "id": "p2-stash",
      "name": "P2: Stash Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2050,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Builds coder input \u2014 task files in full, other files as compact summaries\nconst staticData = $getWorkflowStaticData('global');\nconst stashed = $json;\nconst taskFiles = (stashed.task || {}).files || stashed.chunk_files || [];\nconst allFiles = staticData._allFileContents || [];\n\n// Full content for files in THIS task + closely related files (imports)\nconst taskFileSet = new Set(taskFiles.map(f => typeof f === 'string' ? f : f.path));\n\n// Also include files that task files import from\nfor (const file of allFiles) {\n  if (taskFileSet.has(file.path)) {\n    // Find imports in this file\n    const importMatches = (file.content || '').matchAll(/from\\s+['\"]([^'\"]+)['\"]/g);\n    for (const m of importMatches) {\n      const importPath = m[1];\n      if (importPath.startsWith('.')) {\n        // Resolve relative import to find the actual file\n        const dir = file.path.replace(/\\/[^\\/]+$/, '');\n        const resolved = importPath.replace(/^\\.\\//,'').replace(/^\\.\\.\\//, '');\n        for (const f of allFiles) {\n          if (f.path.includes(resolved) || f.path.replace(/\\.(ts|tsx|js|jsx)$/, '').endsWith(resolved)) {\n            taskFileSet.add(f.path);\n          }\n        }\n      }\n    }\n  }\n}\n\n// Always include package.json and main config files (small, critical for context)\nconst alwaysInclude = ['package.json', 'tsconfig.json', 'vite.config.js', 'tailwind.config.js', 'postcss.config.js', 'index.html'];\nfor (const f of alwaysInclude) {\n  const match = allFiles.find(a => a.path === f || a.path.endsWith('/' + f));\n  if (match) taskFileSet.add(match.path);\n}\n\n// Split: full content for task files, compact for everything else\nconst fullFiles = [];\nconst summaryFiles = [];\nfor (const file of allFiles) {\n  if (file.path.includes('node_modules')) continue;\n  if (taskFileSet.has(file.path)) {\n    fullFiles.push(file);\n  } else if (file.path.match(/\\.(ts|tsx|js|jsx|css|json|html)$/)) {\n    // Compact summary: path + first line (exports) + size\n    const firstLines = (file.content || '').split('\\n').slice(0, 3).join('\\n');\n    const exports = (file.content || '').match(/export\\s+(default\\s+)?(?:function|const|class)\\s+(\\w+)/g) || [];\n    summaryFiles.push({\n      path: file.path,\n      summary: exports.join(', ') || firstLines.substring(0, 100),\n      size: (file.content || '').length\n    });\n  }\n}\n\nconst existingFiles = fullFiles;\n\nconst task = { ...(stashed.task || {}) };\nif (taskFiles.length > 0) task.files = taskFiles;\n\n// Extract design tokens from reference HTML files (e.g., Stitch concepts)\nconst http = require('http');\nconst projectId = stashed.project_id;\nlet designSystem = staticData._stitchDesignSystem || '';\nlet referenceStyles = staticData._stitchStyles || '';\n\n// Only fetch if not already cached this run AND task involves UI/visual work\nconst taskDesc = ((stashed.task || {}).description || '').toLowerCase();\nconst isVisualTask = taskDesc.includes('design') || taskDesc.includes('style') || taskDesc.includes('layout') || taskDesc.includes('ui') || taskDesc.includes('color') || taskDesc.includes('component') || taskDesc.includes('css') || taskDesc.includes('tailwind') || taskDesc.includes('visual') || taskDesc.includes('mockup') || taskDesc.includes('reference');\n\nif (!designSystem && isVisualTask && projectId) {\n  try {\n    // Fetch reference files list\n    const refFiles = await new Promise((resolve) => {\n      const req = http.request({\n        hostname: 'file-api', port: 3456, method: 'GET',\n        path: '/projects/' + projectId + '/files',\n        headers: { 'Authorization': 'Bearer ' + ($env.FILE_API_TOKEN || '') },\n        timeout: 10000\n      }, res => {\n        let d = ''; res.on('data', c => d += c);\n        res.on('end', () => { try { resolve(JSON.parse(d).files || []); } catch { resolve([]); } });\n      });\n      req.on('error', () => resolve([]));\n      req.end();\n    });\n\n    // Find HTML files in references/\n    const htmlRefs = refFiles.filter(f => f.path.startsWith('references/') && f.path.endsWith('.html'));\n    \n    for (const ref of htmlRefs.slice(0, 2)) {\n      const content = ref.content || '';\n      if (content.length < 100) continue;\n      \n      // Extract Tailwind config\n      const configMatch = content.match(/tailwind\\.config\\s*=\\s*(\\{[\\s\\S]*?\\})\\s*<\\/script>/);\n      if (configMatch && !designSystem) {\n        designSystem = configMatch[1].substring(0, 4000);\n        staticData._stitchDesignSystem = designSystem;\n          \n          // Extract common component patterns from HTML and generate @apply classes\n          const classPatterns = [];\n          \n          // Find repeated class combinations in the HTML (buttons, cards, badges, etc.)\n          const classMatches = content.match(/class=\"([^\"]{30,})\"/g) || [];\n          const classCounts = {};\n          for (const match of classMatches) {\n            const classes = match.replace('class=\"', '').replace('\"', '').trim();\n            // Normalize whitespace\n            const normalized = classes.replace(/\\s+/g, ' ').trim();\n            classCounts[normalized] = (classCounts[normalized] || 0) + 1;\n          }\n          \n          // Find patterns used 2+ times \u2014 these are component-worthy\n          const componentClasses = [];\n          for (const [classes, count] of Object.entries(classCounts)) {\n            if (count >= 2 && classes.length > 20 && classes.length < 200) {\n              // Generate a semantic name from the classes\n              let name = 'component';\n              if (classes.includes('rounded-full') && classes.includes('px-')) name = 'pill';\n              else if (classes.includes('rounded-') && classes.includes('border')) name = 'card';\n              else if (classes.includes('font-bold') && classes.includes('text-')) name = 'heading';\n              else if (classes.includes('flex') && classes.includes('items-center')) name = 'row';\n              else if (classes.includes('grid')) name = 'grid';\n              else if (classes.includes('btn') || (classes.includes('cursor-pointer') && classes.includes('px-'))) name = 'btn';\n              else if (classes.includes('backdrop-blur')) name = 'glass';\n              \n              componentClasses.push({ name: name + '-' + componentClasses.length, classes, count });\n            }\n          }\n          \n          if (componentClasses.length > 0) {\n            // Generate @apply CSS\n            let applyCSS = '@layer components {\\n';\n            for (const comp of componentClasses.slice(0, 15)) {\n              applyCSS += '  .' + comp.name + ' {\\n    @apply ' + comp.classes.substring(0, 150) + ';\\n  }\\n';\n            }\n            applyCSS += '}';\n            staticData._stitchComponentClasses = applyCSS;\n          }\n      }\n      \n      // Extract style blocks\n      const styleMatches = content.match(/<style>([\\s\\S]*?)<\\/style>/g);\n      if (styleMatches && !referenceStyles) {\n        referenceStyles = styleMatches.join('\\n').substring(0, 2000);\n        staticData._stitchStyles = referenceStyles;\n      }\n    }\n  } catch(e) {}\n}\n\nreturn [{ json: {\n  task,\n  existing_files: existingFiles,\n  other_files_summary: summaryFiles,\n  plan_document: stashed.plan_document || '',\n  project_goal: stashed.project_goal || '',\n  project_id: stashed.project_id,\n  research_docs: staticData._researchDocs || '',\n  design_system: designSystem,\n  reference_styles: referenceStyles\n} }];"
      },
      "id": "p2-build-input",
      "name": "P2: Build Code Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// CW: Prepare Message \u2014 restructured for instruction priority\n// Order: Task FIRST \u2192 Assets \u2192 Design System \u2192 Images \u2192 Files \u2192 Research (last)\nconst input = $json;\nconst planDocument = input.plan_document || '';\n\nlet taskDescription = input.task?.description || input.description || '';\nif (!taskDescription && input.task?.raw_output) {\n  const raw = input.task.raw_output;\n  const cleaned = raw.replace(/<\\/?task>/g, '').replace(/\\n+(?:Reasoning|Note):[\\s\\S]*/i, '').trim();\n  try {\n    const parsed = JSON.parse(cleaned);\n    const list = Array.isArray(parsed) ? parsed : (parsed.tasks || []);\n    taskDescription = list.map(t => `${t.task_id}: ${t.description}`).join('\\n\\n');\n  } catch(e) { taskDescription = raw; }\n}\n\nconst taskFiles = (input.task || {}).files || [];\nconst filesConstraint = taskFiles.length > 0\n  ? '\\n\\nFILES TO MODIFY (only output these files):\\n' + taskFiles.join('\\n')\n  : '';\n\nconst existingFiles = input.existing_files || [];\nconst otherFilesSummary = input.other_files_summary || [];\nconst existingFilesSection = existingFiles.length > 0\n  ? '\\n\\nEXISTING PROJECT FILES:\\n' +\n    (() => { let total = 0; const MAX = 40000; return existingFiles.filter(f => { const size = f.path.length + (f.content||'').length + 20; if (total + size > MAX) return false; total += size; return true; }).map(f => `### ${f.path}\\n\\`\\`\\`\\n${f.content}\\n\\`\\`\\``).join('\\n\\n'); })() + (otherFilesSummary.length > 0 ? '\\n\\nOTHER PROJECT FILES (not shown in full):\\n' + otherFilesSummary.map(f => `- ${f.path} (${f.size} chars): ${f.summary}`).join('\\n') : '')\n  : '';\n\nconst researchDocs = input.research_docs || '';\n\n// Detect image assets in public/assets/\nconst assetFiles = existingFiles\n  .filter(f => f.path.match(/^public\\/assets\\/.*\\.(png|jpg|jpeg|svg|gif|webp)$/i))\n  .map(f => f.path);\nconst assetWarning = assetFiles.length > 0\n  ? '\\n\\nAVAILABLE ASSETS (use <img src> for these, do NOT recreate them):\\n' +\n    assetFiles.map(a => `- ${a} \u2192 <img src=\"/${a.replace('public/', '')}\" />`).join('\\n')\n  : '';\n\n// Design system tokens from reference HTML\nconst designSystem = input.design_system || $getWorkflowStaticData('global')._stitchDesignSystem || '';\nconst stitchStyles = input.reference_styles || $getWorkflowStaticData('global')._stitchStyles || '';\n\n// Load reference images\nconst http = require('http');\nconst projectId = input.project_id || $('Extract Input').first().json.project_id || '';\nconst FILE_API = ($env.FILE_API_URL || 'http://file-api:3456').replace('http://', '');\nconst [apiHost, apiPort] = FILE_API.split(':');\nconst refImages = await new Promise((resolve) => {\n  const req = http.request({\n    hostname: apiHost, port: parseInt(apiPort) || 3456,\n    path: `/projects/${projectId}/references`,\n    method: 'GET',\n    headers: { 'Authorization': 'Bearer ' + ($env.FILE_API_TOKEN || '') },\n    timeout: 10000\n  }, (res) => {\n    let data = '';\n    res.on('data', d => data += d);\n    res.on('end', () => { try { resolve(JSON.parse(data).references || []); } catch { resolve([]); } });\n  });\n  req.on('error', () => resolve([]));\n  req.on('timeout', () => { req.destroy(); resolve([]); });\n  req.end();\n});\n\nconst webhookImage = $('Extract Input').first().json.image_data || null;\nconst taskId = (input.task || {}).task_id || '';\nconst taskConcepts = $getWorkflowStaticData('global')._taskConcepts || {};\nconst taskConcept = taskConcepts[taskId] || null;\n\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n// BUILD THE PROMPT \u2014 instruction-first order\n// \u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\u2550\n\n// SYSTEM: Short, focused rules only\nconst systemMessage = `You are a Senior Full-Stack Developer. Output ONLY code file blocks.\n\nFORMAT \u2014 for each file output EXACTLY:\n### path/to/file.ext\n\\`\\`\\`ext\n[complete file content]\n\\`\\`\\`\n\nRULES:\n- Output complete file content, not diffs\n- Only output files listed in FILES TO MODIFY\n- No explanations, no prose \u2014 ONLY file blocks\n- Files with JSX MUST use .tsx extension\n- NEVER remove @tailwind directives from CSS files\n- NEVER remove existing imports that are still used\n- When modifying a file, preserve everything that works \u2014 only change what the task asks for`;\n\n// USER: Task first, then supporting context\nconst content = [];\n\n// \u2500\u2500 1. TASK DESCRIPTION (highest priority \u2014 read this first) \u2500\u2500\ncontent.push({ type: 'text', text: `YOUR TASK:\\n${taskDescription}${assetWarning}${filesConstraint}` });\n\n// \u2500\u2500 2. DESIGN SYSTEM (if available \u2014 use these tokens) \u2500\u2500\nif (designSystem) {\n  content.push({ type: 'text', text: 'DESIGN SYSTEM (follow these design principles, color palette, font choices, and spacing patterns):\\n' + designSystem.substring(0, 3000) });\n}\nif (stitchStyles) {\n  content.push({ type: 'text', text: 'REFERENCE CSS PATTERNS:\\n' + stitchStyles.substring(0, 1500) });\n}\nconst componentClasses = $getWorkflowStaticData('global')._stitchComponentClasses || '';\nif (componentClasses) {\n  content.push({ type: 'text', text: 'COMPONENT CLASSES (add these to your CSS file and use the semantic class names instead of repeating utility classes):\\n' + componentClasses });\n}\n\n// \u2500\u2500 3. REFERENCE IMAGES (visual target) \u2500\u2500\nif (refImages.length > 0) {\n  for (const ref of refImages) {\n    content.push({ type: 'image_url', image_url: { url: 'data:image/png;base64,' + ref.base64 } });\n    const label = ref.filename.replace(/\\.(png|jpg|jpeg|gif|webp)$/i, '').replace(/[_-]/g, ' ');\n    content.push({ type: 'text', text: 'REFERENCE (' + label + '):' });\n  }\n} else if (webhookImage) {\n  content.push({ type: 'image_url', image_url: { url: 'data:image/png;base64,' + webhookImage } });\n  content.push({ type: 'text', text: 'REFERENCE DESIGN:' });\n}\nif (taskConcept) {\n  content.push({ type: 'image_url', image_url: { url: 'data:image/png;base64,' + taskConcept } });\n  content.push({ type: 'text', text: 'TASK CONCEPT (visual guide for this task):' });\n}\n\n// \u2500\u2500 4. EXISTING FILES (context for the coder) \u2500\u2500\nif (existingFilesSection) {\n  content.push({ type: 'text', text: existingFilesSection });\n}\n\n// \u2500\u2500 5. ARCHITECTURE + RESEARCH (lowest priority \u2014 background context) \u2500\u2500\nif (planDocument) {\n  content.push({ type: 'text', text: 'ARCHITECTURE:\\n' + planDocument.substring(0, 3000) });\n}\nif (researchDocs) {\n  content.push({ type: 'text', text: 'LIBRARY DOCS:\\n' + researchDocs.substring(0, 6000) });\n}\n\nconst messageContent = content.length > 1 ? content : content[0].text;\n\nreturn [{ json: {\n  model: $env.CODER_MODEL || 'qwen3.5-27b@q4_k_m',\n  messages: [\n    { role: 'system', content: systemMessage },\n    { role: 'user', content: messageContent }\n  ],\n  temperature: 0.6,\n  chat_template_kwargs: { enable_thinking: false },\n  top_p: 0.95,\n    top_k: 20,\n    min_p: 0.0,\n    presence_penalty: 0.0,\n  max_tokens: 16384\n} }];"
      },
      "id": "cw-prepare",
      "name": "CW: Prepare Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.choices[0].message || {};\nlet raw = msg.content || '';\nconst reasoning = msg.reasoning_content || '';\n\n// Qwen3.5-27B reasoning model may put ALL output in reasoning_content or <think> tags\n// Try content first, then reasoning_content\nlet content = raw.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\nif (content.includes('</think>')) {\n  content = content.split('</think>').pop().trim();\n}\n\n// If content is empty or too short (binary garbage from images), use reasoning_content\nif (content.length < 50 && reasoning.length > 50) {\n  content = reasoning.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\n  if (content.includes('</think>')) {\n    content = content.split('</think>').pop().trim();\n  }\n}\n\n// If still empty, try the full raw content (maybe think tags are unclosed)\nif (content.length < 50 && raw.length > 50) {\n  // Strip just the opening <think> and try to find file blocks\n  content = raw.replace(/<think>/g, '').replace(/<\\/think>/g, '').trim();\n}\n\nconst files = [];\nconst seen = new Set();\nconst re = /###\\s+((?:[\\w.-]+\\/)*(?:\\.[\\w][\\w.-]*|[\\w.-]+\\.(?:ts|tsx|js|jsx|json|md|yml|yaml|env|prisma|css|html|sh|txt|lock|toml|cfg|ini)|Dockerfile|Makefile|LICENSE|CHANGELOG))\\s*\\n```[\\w]*\\n([\\s\\S]*?)```/g;\nlet m;\nwhile ((m = re.exec(content)) !== null) {\n  const path = m[1].trim();\n  const fileContent = m[2];\n  if (path && !seen.has(path)) {\n    seen.add(path);\n    files.push({ path, content: fileContent });\n  }\n}\nconst staticData = $getWorkflowStaticData('global');\nconst projectId = staticData._currentProjectId || $('Extract Input').first().json.project_id || 'unknown';\nconst task = staticData._currentTask || {};\nconst projectGoal = staticData._currentProjectGoal || $('Extract Input').first().json.message || '';\nreturn [{ json: { files, task, project_id: projectId, project_goal: projectGoal } }];"
      },
      "id": "cw-parse",
      "name": "CW: Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2850,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// NEW: Replaces Chunk: Prepare Write\n// Simplified write prep + updates _allFileContents cache so later chunks see fresh content\nconst stashed = $('P2: Stash Context').first().json;\nconst chunkFiles = stashed.chunk_files || [];\nconst newFiles = $json.files || [];\nconst staticData2 = $getWorkflowStaticData('global');\nconst projectId = $json.project_id || staticData2._currentProjectId || stashed.project_id;\n\n// Include all files the Code Writer produced\nlet filteredFiles = newFiles;\n\n// Handle package.json merge: preserve existing deps, add new ones\nconst staticData = $getWorkflowStaticData('global');\nconst allFiles = staticData._allFileContents || [];\nfor (const newFile of filteredFiles) {\n  if (newFile.path === 'package.json' || newFile.path.endsWith('/package.json')) {\n    const existing = allFiles.find(f => f.path === newFile.path);\n    if (existing) {\n      try {\n        const existingPkg = JSON.parse(existing.content);\n        const newPkg = JSON.parse(newFile.content);\n        newPkg.dependencies = { ...(existingPkg.dependencies || {}), ...(newPkg.dependencies || {}) };\n        newPkg.devDependencies = { ...(existingPkg.devDependencies || {}), ...(newPkg.devDependencies || {}) };\n        newFile.content = JSON.stringify(newPkg, null, 2);\n      } catch(e) {}\n    }\n  }\n}\n\n// Update the in-memory file cache so later chunks see fresh content\nfor (const newFile of filteredFiles) {\n  const idx = allFiles.findIndex(f => f.path === newFile.path);\n  if (idx >= 0) {\n    allFiles[idx] = { path: newFile.path, content: newFile.content };\n  } else {\n    allFiles.push({ path: newFile.path, content: newFile.content });\n  }\n}\nstaticData._allFileContents = allFiles;\n\nif (filteredFiles.length === 0) {\n  return [{ json: { project_id: projectId, files: [], _skipWrite: true } }];\n}\n\nreturn [{ json: { project_id: projectId, files: filteredFiles } }];"
      },
      "id": "p2-prepare-write",
      "name": "P2: Prepare Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3050,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// P2: Store Result \u2014 uses $json like all other Code nodes\nconst staticData = $getWorkflowStaticData('global');\nstaticData._queueDone = (staticData._queueDone || 0) + 1;\nconst total = staticData._queueTotal || 0;\nconst done = staticData._queueDone;\nconst remaining = total - done;\n\nconst taskId = staticData._currentTaskId || 'unknown';\nconst taskFiles = (staticData._currentTask || {}).files || [];\nconst writtenFiles = ($json.files_written || $json.files || []).map(f => typeof f === 'string' ? f : (f.path || JSON.stringify(f)));\nif (!staticData.p2Results) staticData.p2Results = [];\nstaticData.p2Results.push({ task_id: taskId, files_written: writtenFiles });\n\n\n// Status callback to Forge \u2014 fire and forget\ntry {\n  const http = require('http');\n  const cbBody = JSON.stringify({\n    event: 'task_written',\n    project_id: staticData._currentProjectId || 'unknown',\n    data: { task_id: taskId, files: writtenFiles.length > 0 ? writtenFiles : taskFiles }\n  });\n  const cbReq = http.request({\n    hostname: 'forge', port: 3500, path: '/api/status-callback',\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(cbBody) }\n  });\n  cbReq.on('error', () => {});\n  cbReq.write(cbBody);\n  cbReq.end();\n} catch(e) {}\n\nconst remainingQueue = staticData._currentQueue || [];\nconst isDone = remaining <= 0 || remainingQueue.length === 0;\n\nlet nextItem = null;\nif (!isDone) {\n  nextItem = JSON.parse(JSON.stringify(remainingQueue[0]));\n  nextItem._p2Queue = remainingQueue.slice(1);\n}\n\nreturn [{ json: {\n  _done: isDone,\n  _nextItem: nextItem,\n  _remaining: remaining,\n  task_id: taskId,\n  files_written: writtenFiles\n} }];"
      },
      "id": "p2-store",
      "name": "P2: Store Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst projectId = $json.project_id || 'unknown';\nconst message = $json.message || '';\ntry {\n  const body = JSON.stringify({ event: 'pipeline_started', project_id: projectId, data: { message } });\n  const req = http.request({ hostname: 'forge', port: 3500, path: '/api/status-callback', method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(body) } });\n  req.on('error', () => {});\n  req.write(body); req.end();\n} catch {}\nreturn [{ json: $json }];"
      },
      "id": "cb-started",
      "name": "CB: Pipeline Started",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.LM_STUDIO_HOST || 'http://10.0.0.100:1234') + '/api/v1/models/load' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.LLM_API_KEY || '') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.CODER_MODEL || 'qwen3.5-27b@q4_k_m', context_length: parseInt($env.CODER_CTX) || 98304 }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "load-model",
      "name": "Load Model",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LM_STUDIO_URL || 'http://10.0.0.100:1234/v1/chat/completions' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.LLM_API_KEY || '') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "planner-llm",
      "name": "Planner: Call LM Studio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst staticData = $getWorkflowStaticData('global');\nconst projectId = staticData._currentProjectId || $('Extract Input').first().json.project_id || 'unknown';\nconst tasks = $json.tasks || [];\ntry {\n  const body = JSON.stringify({ event: 'planning_complete', project_id: projectId, data: { task_count: tasks.length } });\n  const req = http.request({ hostname: 'forge', port: 3500, path: '/api/status-callback', method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(body) } });\n  req.on('error', () => {});\n  req.write(body); req.end();\n} catch {}\nreturn [{ json: $json }];"
      },
      "id": "cb-planning",
      "name": "CB: Planning Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LM_STUDIO_URL || 'http://10.0.0.100:1234/v1/chat/completions' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.LLM_API_KEY || '') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "cw-llm",
      "name": "CW: Call LM Studio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.FILE_API_URL || 'http://file-api:3456') + '/projects/' + $json.project_id + '/files-batch' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.FILE_API_TOKEN || '') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ files: $json.files }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "p2-write-files",
      "name": "P2: Write Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json._done) return [];\nreturn [{ json: $json._nextItem }];"
      },
      "id": "p2-continue",
      "name": "P2: Continue Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "if (!$json._done) return [];\nreturn [{ json: $json }];"
      },
      "id": "p2-exit",
      "name": "P2: Exit Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst staticData = $getWorkflowStaticData('global');\nconst projectId = $('Extract Input').first().json.project_id || 'unknown';\n\n// Run vite build\nlet buildResult = { success: true, error: '' };\ntry {\n  const result = await new Promise((resolve) => {\n    const req = http.request({\n      hostname: 'file-api', port: 3456, method: 'POST',\n      path: '/projects/' + projectId + '/build-check',\n      headers: { 'Authorization': 'Bearer ' + ($env.FILE_API_TOKEN || ''), 'Content-Type': 'application/json', 'Content-Length': 0 },\n      timeout: 180000\n    }, res => {\n      let data = '';\n      res.on('data', c => data += c);\n      res.on('end', () => { try { resolve(JSON.parse(data)); } catch { resolve({ success: false, error: data }); } });\n    });\n    req.on('error', e => resolve({ success: false, error: e.message }));\n    req.setTimeout(180000, () => { req.destroy(); resolve({ success: false, error: 'Build timed out' }); });\n    req.end();\n  });\n  buildResult = result;\n} catch(e) {\n  buildResult = { success: false, error: e.message };\n}\n\nstaticData._buildResult = buildResult;\nstaticData._buildAttempt = (staticData._buildAttempt || 0) + 1;\n\n// Callback\ntry {\n  const cbBody = JSON.stringify({\n    event: buildResult.success ? 'build_check_passed' : 'build_check_failed',\n    project_id: projectId,\n    data: { success: buildResult.success, error: buildResult.error || null }\n  });\n  const req = http.request({\n    hostname: 'forge', port: 3500, path: '/api/status-callback', method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(cbBody) }\n  });\n  req.on('error', () => {});\n  req.write(cbBody); req.end();\n} catch {}\n\nreturn [{ json: { ...($json), build_success: buildResult.success, build_error: buildResult.error || '', build_attempt: staticData._buildAttempt } }];"
      },
      "id": "build-check",
      "name": "Build Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Route: if build failed AND attempts < 3, try auto-fix\n// Otherwise continue to code review\nconst buildSuccess = $json.build_success;\nconst attempt = $json.build_attempt || 1;\n\nreturn [{ json: { ...$json, _needsAutoFix: !buildSuccess && attempt < 3, _buildPassed: buildSuccess } }];"
      },
      "id": "build-route",
      "name": "Build Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if (!$json._needsAutoFix) return [];\nreturn [{ json: $json }];"
      },
      "id": "autofix-gate",
      "name": "Auto-Fix Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4300,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json._needsAutoFix) return [];\nreturn [{ json: $json }];"
      },
      "id": "buildpass-gate",
      "name": "Build Pass Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4300,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst buildError = staticData._buildResult?.error || 'Unknown build error';\nconst allFiles = staticData._allFileContents || [];\nconst projectId = $('Extract Input').first().json.project_id || 'unknown';\n\n// Find files mentioned in the error\nconst errorFiles = [];\nconst errorMatch = buildError.match(/src\\/[^\\s:]+/g);\nif (errorMatch) {\n  for (const path of errorMatch) {\n    const file = allFiles.find(f => f.path === path || f.path.endsWith(path));\n    if (file) errorFiles.push(file);\n  }\n}\n\n// Include config files too\nconst configFiles = allFiles.filter(f => ['package.json', 'tsconfig.json', 'vite.config.ts', 'vite.config.js'].includes(f.path));\nconst contextFiles = [...new Map([...errorFiles, ...configFiles].map(f => [f.path, f])).values()];\n\nconst filesSection = contextFiles.map(f => '### ' + f.path + '\\n```\\n' + (f.content || '') + '\\n```').join('\\n\\n');\n\nconst systemMsg = 'You are a Senior Full-Stack Developer. Fix the build error below. Output ONLY the fixed file blocks in ### path format. Do NOT remove @tailwind directives. Do NOT remove existing exports.';\n\nconst userMsg = 'BUILD ERROR:\\n' + buildError.substring(0, 1000) + '\\n\\nFILES:\\n' + filesSection;\n\nreturn [{ json: {\n  model: $env.CODER_MODEL || 'qwen3.5-27b@q4_k_m',\n  messages: [\n    { role: 'system', content: systemMsg },\n    { role: 'user', content: userMsg }\n  ],\n  temperature: 0.6,\n  top_p: 0.95,\n  top_k: 20,\n  max_tokens: 16384,\n  _project_id: projectId\n} }];"
      },
      "id": "autofix-prepare",
      "name": "Auto-Fix: Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4500,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LM_STUDIO_URL || 'http://10.0.0.100:1234/v1/chat/completions' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.LLM_API_KEY || '') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "autofix-llm",
      "name": "Auto-Fix: Call LM Studio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4700,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.choices?.[0]?.message || {};\nlet raw = msg.content || '';\nconst reasoning = msg.reasoning_content || '';\nif (raw.length < 50 && reasoning.length > 50) raw = reasoning;\nif (raw.length < 50 && (msg.content || '').length > 50) raw = (msg.content || '').replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\n\nconst files = [];\nconst seen = new Set();\nconst re = /###\\s+((?:[\\w.-]+\\/)*(?:\\.[\\w][\\w.-]*|[\\w.-]+\\.(?:ts|tsx|js|jsx|json|md|yml|yaml|env|prisma|css|html|sh|txt|lock|toml|cfg|ini)|Dockerfile|Makefile|LICENSE|CHANGELOG))\\s*\\n```[\\w]*\\n([\\s\\S]*?)```/g;\nlet m;\nwhile ((m = re.exec(raw)) !== null) {\n  const path = m[1].trim();\n  const fileContent = m[2];\n  if (path && !seen.has(path)) {\n    seen.add(path);\n    files.push({ path, content: fileContent });\n  }\n}\n\n// Filter to existing files only\nconst staticData = $getWorkflowStaticData('global');\nconst allFiles = staticData._allFileContents || [];\nconst existingPaths = new Set(allFiles.map(f => f.path));\nconst filteredFiles = files.filter(f => existingPaths.has(f.path));\n\n// Update cache\nfor (const newFile of filteredFiles) {\n  const idx = allFiles.findIndex(f => f.path === newFile.path);\n  if (idx >= 0) allFiles[idx] = { path: newFile.path, content: newFile.content };\n  else allFiles.push({ path: newFile.path, content: newFile.content });\n}\nstaticData._allFileContents = allFiles;\n\nconst projectId = $('Extract Input').first().json.project_id || 'unknown';\n\nif (filteredFiles.length === 0) {\n  return [{ json: { project_id: projectId, files: [], _skipWrite: true } }];\n}\nreturn [{ json: { project_id: projectId, files: filteredFiles } }];"
      },
      "id": "autofix-parse",
      "name": "Auto-Fix: Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4900,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.FILE_API_URL || 'http://file-api:3456') + '/projects/' + $json.project_id + '/files-batch' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.FILE_API_TOKEN || '') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ files: $json.files || [] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "autofix-write",
      "name": "Auto-Fix: Write Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5100,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst allFiles = staticData._allFileContents || [];\nconst buildResult = staticData._buildResult || {};\n\nconst buildSection = buildResult.success\n  ? 'BUILD STATUS: PASSED'\n  : 'BUILD STATUS: FAILED \u2014 ' + (buildResult.error || 'unknown').substring(0, 300);\n\nconst fileSummaries = allFiles\n  .filter(f => f.path.match(/\\.(ts|tsx|js|jsx|json|css|html)$/) && !f.path.includes('node_modules') && !f.path.startsWith('references/'))\n  .map(f => '### ' + f.path + '\\n```\\n' + (f.content || '') + '\\n```')\n  .join('\\n\\n')\n  .substring(0, 80000);\n\nconst prompt = 'You are a Senior Code Reviewer. Review this project for CRITICAL bugs only.\\n\\n' + buildSection + '\\n\\nPROJECT FILES:\\n' + fileSummaries + '\\n\\nReturn ONLY valid JSON (start with {):\\n{\\n  \"code_quality\": number (0-100),\\n  \"issues\": [\\n    {\\n      \"file\": \"path\",\\n      \"severity\": \"critical|high\",\\n      \"issue\": \"description\",\\n      \"problem\": \"impact\"\\n    }\\n  ]\\n}\\n\\nOnly flag CRITICAL bugs: missing exports, import mismatches, runtime crashes, type errors that break the build. Max 5 issues. Do NOT flag style preferences or optimization suggestions.';\n\nreturn [{ json: {\n  model: $env.CODER_MODEL || 'qwen3.5-27b@q4_k_m',\n  messages: [{ role: 'user', content: prompt }],\n  temperature: 0.7, top_p: 0.8, top_k: 20, presence_penalty: 1.5, max_tokens: 4096\n} }];"
      },
      "id": "code-review-build",
      "name": "Code Review: Build",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4500,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LM_STUDIO_URL || 'http://10.0.0.100:1234/v1/chat/completions' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.LLM_API_KEY || '') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "code-review-llm",
      "name": "Code Review: Call LM Studio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4700,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.choices?.[0]?.message || {};\nconst rawContent = msg.content || '';\nconst rawReasoning = msg.reasoning_content || '';\n\n// Check content first for JSON, then reasoning\nconst raw = (rawContent && rawContent.includes('code_quality')) ? rawContent : rawReasoning;\n\nlet content = raw.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\nif (content.includes('</think>')) content = content.split('</think>').pop().trim();\ncontent = content.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '').trim();\n\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\nlet review;\ntry {\n  review = JSON.parse(jsonMatch ? jsonMatch[0] : content);\n} catch {\n  review = { code_quality: 0, issues: [] };\n}\n\nconst issues = review.issues || [];\nconst criticalCount = issues.filter(i => i.severity === 'critical' || i.severity === 'high').length;\nconst projectId = $('Extract Input').first().json.project_id || 'unknown';\n\nconst staticData = $getWorkflowStaticData('global');\nstaticData._reviewResult = review;\n\n// Callback\ntry {\n  const http = require('http');\n  const cbBody = JSON.stringify({\n    event: 'review_complete', project_id: projectId,\n    data: { quality: review.code_quality, fixes: criticalCount }\n  });\n  const req = http.request({ hostname: 'forge', port: 3500, path: '/api/status-callback', method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(cbBody) } });\n  req.on('error', () => {});\n  req.write(cbBody); req.end();\n} catch {}\n\nreturn [{ json: { review, critical_fix_count: criticalCount, fixes_needed: issues, project_id: projectId } }];"
      },
      "id": "code-review-parse",
      "name": "Code Review: Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4900,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const fixes = $json.fixes_needed || [];\nconst criticalCount = $json.critical_fix_count || 0;\nconst quality = ($json.review || {}).code_quality || 0;\n\n// Only fix if real critical bugs AND review produced valid output\nif (criticalCount > 0 && quality > 0) {\n  return [{ json: $json }];\n}\nreturn [];"
      },
      "id": "critical-gate",
      "name": "Critical Bug Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5100,
        350
      ]
    },
    {
      "parameters": {
        "jsCode": "const criticalCount = $json.critical_fix_count || 0;\nconst quality = ($json.review || {}).code_quality || 0;\n\nif (criticalCount > 0 && quality > 0) return [];\nreturn [{ json: $json }];"
      },
      "id": "nobug-gate",
      "name": "No Bug Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5100,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const fixes = $json.fixes_needed || [];\nconst staticData = $getWorkflowStaticData('global');\nconst allFiles = staticData._allFileContents || [];\nconst projectId = $json.project_id;\n\n// Only fix files that exist\nconst existingPaths = new Set(allFiles.map(f => f.path));\nconst filesToFix = new Set(fixes.map(f => f.file).filter(f => existingPaths.has(f)));\n\nconst fixInstructions = fixes.map(f =>\n  'FILE: ' + f.file + '\\nSEVERITY: ' + f.severity + '\\nISSUE: ' + f.issue + '\\nFIX: ' + (f.problem || f.issue)\n).join('\\n\\n');\n\nconst existingFilesSection = allFiles\n  .filter(f => filesToFix.has(f.path))\n  .map(f => '### ' + f.path + '\\n```\\n' + (f.content || '') + '\\n```')\n  .join('\\n\\n');\n\nconst systemMsg = 'You are a Senior Full-Stack Developer. Fix the specific issues listed below. Output ONLY the fixed file blocks. Only modify files listed in FILES TO FIX. Do NOT remove @tailwind directives. Do NOT remove existing exports.';\nconst userMsg = 'Fix these issues:\\n\\n' + fixInstructions + '\\n\\nFILES TO FIX:\\n' + [...filesToFix].join('\\n') + '\\n\\nCURRENT FILES:\\n' + existingFilesSection;\n\nreturn [{ json: {\n  model: $env.CODER_MODEL || 'qwen3.5-27b@q4_k_m',\n  messages: [\n    { role: 'system', content: systemMsg },\n    { role: 'user', content: userMsg }\n  ],\n  temperature: 0.6, top_p: 0.95, top_k: 20, max_tokens: 16384,\n  _project_id: projectId\n} }];"
      },
      "id": "fix-build",
      "name": "Fix: Build",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5300,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LM_STUDIO_URL || 'http://10.0.0.100:1234/v1/chat/completions' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.LLM_API_KEY || '') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "fix-llm",
      "name": "Fix: Call LM Studio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5500,
        350
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.choices?.[0]?.message || {};\nlet raw = msg.content || '';\nconst reasoning = msg.reasoning_content || '';\nif (raw.length < 50 && reasoning.length > 50) raw = reasoning;\n\nconst files = [];\nconst seen = new Set();\nconst re = /###\\s+((?:[\\w.-]+\\/)*(?:\\.[\\w][\\w.-]*|[\\w.-]+\\.(?:ts|tsx|js|jsx|json|md|yml|yaml|env|prisma|css|html|sh|txt|lock|toml|cfg|ini)|Dockerfile|Makefile|LICENSE|CHANGELOG))\\s*\\n```[\\w]*\\n([\\s\\S]*?)```/g;\nlet m;\nwhile ((m = re.exec(raw)) !== null) {\n  const path = m[1].trim();\n  if (path && !seen.has(path)) {\n    seen.add(path);\n    files.push({ path, content: m[2] });\n  }\n}\n\nconst staticData = $getWorkflowStaticData('global');\nconst allFiles = staticData._allFileContents || [];\nconst existingPaths = new Set(allFiles.map(f => f.path));\nconst filteredFiles = files.filter(f => existingPaths.has(f.path));\n\nfor (const newFile of filteredFiles) {\n  const idx = allFiles.findIndex(f => f.path === newFile.path);\n  if (idx >= 0) allFiles[idx] = { path: newFile.path, content: newFile.content };\n  else allFiles.push({ path: newFile.path, content: newFile.content });\n}\nstaticData._allFileContents = allFiles;\n\nconst projectId = $('Extract Input').first().json.project_id || 'unknown';\n\n// Callback\ntry {\n  const http = require('http');\n  const cbBody = JSON.stringify({\n    event: 'fix_applied', project_id: projectId,\n    data: { files_fixed: filteredFiles.map(f => f.path) }\n  });\n  const req = http.request({ hostname: 'forge', port: 3500, path: '/api/status-callback', method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(cbBody) } });\n  req.on('error', () => {});\n  req.write(cbBody); req.end();\n} catch {}\n\nif (filteredFiles.length === 0) {\n  return [{ json: { project_id: projectId, files: [], _skipWrite: true } }];\n}\nreturn [{ json: { project_id: projectId, files: filteredFiles } }];"
      },
      "id": "fix-parse",
      "name": "Fix: Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5700,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.FILE_API_URL || 'http://file-api:3456') + '/projects/' + $json.project_id + '/files-batch' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.FILE_API_TOKEN || '') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ files: $json.files || [] }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "fix-write",
      "name": "Fix: Write Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5900,
        350
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst http = require('http');\nconst projectId = $('Extract Input').first().json.project_id || 'unknown';\n\nconst buildResult = staticData._buildResult || {};\nconst reviewResult = staticData._reviewResult || {};\nconst p2Results = staticData.p2Results || [];\n\nlet reportText = '\\n' + '='.repeat(50) + '\\n';\nreportText += 'RUN | ' + projectId + ' | ' + new Date().toLocaleTimeString() + '\\n';\nreportText += '='.repeat(50) + '\\n';\n\n// Planner\nconst tasks = staticData._tasks || [];\nreportText += (tasks.length > 0 ? '+ ' : '- ') + 'PLANNER        ' + tasks.length + ' tasks\\n';\n\n// Research\nconst researchLen = (staticData._researchDocs || '').length;\nreportText += (researchLen > 100 ? '+ ' : 'o ') + 'RESEARCH       ' + (researchLen/1000).toFixed(1) + 'K chars\\n';\n\n// Coder\nreportText += (p2Results.length > 0 ? '+ ' : '- ') + 'CODER          ' + p2Results.map(r => r.task_id + ': ' + (r.files_written || []).length + ' files').join(', ') + '\\n';\n\n// Build\nreportText += (buildResult.success ? '+ ' : 'x ') + 'BUILD          ' + (buildResult.success ? 'Passed' : (buildResult.error || 'Failed').substring(0, 80)) + '\\n';\n\n// Code Review\nconst codeQuality = reviewResult.code_quality || 0;\nconst issueCount = (reviewResult.issues || []).length;\nreportText += (codeQuality > 0 ? '+ ' : 'x ') + 'CODE REVIEW    quality=' + codeQuality + ', issues=' + issueCount + '\\n';\n\n// Issues\nconst issues = [];\nif (!buildResult.success) issues.push('Build failed');\nif (codeQuality === 0 && issueCount === 0) issues.push('Code review produced no valid JSON');\n\nif (issues.length > 0) {\n  reportText += '-'.repeat(50) + '\\n';\n  reportText += 'ISSUES:\\n';\n  for (const issue of issues) reportText += '  ! ' + issue + '\\n';\n}\nreportText += '='.repeat(50) + '\\n';\n\n// Callback\ntry {\n  const cbBody = JSON.stringify({ event: 'pipeline_report', project_id: projectId, data: { report: reportText } });\n  const req = http.request({ hostname: 'forge', port: 3500, path: '/api/status-callback', method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(cbBody) } });\n  req.on('error', () => {});\n  req.write(cbBody); req.end();\n} catch {}\n\nstaticData._pipelineReport = reportText;\nreturn [{ json: { _report: reportText, project_id: projectId } }];"
      },
      "id": "pipeline-report",
      "name": "Pipeline Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6100,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst staticData = $getWorkflowStaticData('global');\nconst projectId = $('Extract Input').first().json.project_id || 'unknown';\nconst p2Results = staticData.p2Results || [];\nconst buildResult = staticData._buildResult || {};\nconst reviewResult = staticData._reviewResult || {};\n\nconst filesWritten = p2Results.flatMap(r => r.files_written || []);\n\ntry {\n  const body = JSON.stringify({\n    event: 'pipeline_complete', project_id: projectId,\n    data: {\n      tasks_completed: p2Results.length,\n      files_written: filesWritten,\n      build_passed: buildResult.success,\n      code_quality: reviewResult.code_quality || 0,\n      report: staticData._pipelineReport || ''\n    }\n  });\n  const req = http.request({ hostname: 'forge', port: 3500, path: '/api/status-callback', method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(body) } });\n  req.on('error', () => {});\n  req.write(body); req.end();\n} catch {}\n\nreturn [{ json: { status: 'completed', project_id: projectId } }];"
      },
      "id": "cb-complete",
      "name": "CB: Pipeline Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6300,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\ntry {\n  const body = JSON.stringify({ instance_id: $env.CODER_MODEL || 'qwen3.5-27b@q4_k_m' });\n  const req = http.request({\n    hostname: '10.0.0.100', port: 1234, method: 'POST', path: '/api/v1/models/unload',\n    headers: { 'Authorization': 'Bearer ' + ($env.LLM_API_KEY || ''), 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(body) },\n    timeout: 30000\n  }, res => { let d = ''; res.on('data', c => d += c); res.on('end', () => {}); });\n  req.on('error', () => {});\n  req.write(body); req.end();\n} catch {}\nreturn [{ json: $json }];"
      },
      "id": "unload-model",
      "name": "Unload Model",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6500,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input": {
      "main": [
        [
          {
            "node": "Fetch Project Files",
            "type": "main",
            "index": 0
          },
          {
            "node": "CB: Pipeline Started",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Project Files": {
      "main": [
        [
          {
            "node": "Prepare Planner Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Planner Input": {
      "main": [
        [
          {
            "node": "Load Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Model": {
      "main": [
        [
          {
            "node": "Planner: Build Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planner: Build Request": {
      "main": [
        [
          {
            "node": "Planner: Call LM Studio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planner: Call LM Studio": {
      "main": [
        [
          {
            "node": "Planner: Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Planner: Parse Response": {
      "main": [
        [
          {
            "node": "CB: Planning Complete",
            "type": "main",
            "index": 0
          },
          {
            "node": "Research: Fetch Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research: Fetch Docs": {
      "main": [
        [
          {
            "node": "Spread Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spread Tasks": {
      "main": [
        [
          {
            "node": "P2: Stash Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P2: Stash Context": {
      "main": [
        [
          {
            "node": "P2: Build Code Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P2: Build Code Input": {
      "main": [
        [
          {
            "node": "CW: Prepare Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CW: Prepare Message": {
      "main": [
        [
          {
            "node": "CW: Call LM Studio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CW: Call LM Studio": {
      "main": [
        [
          {
            "node": "CW: Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CW: Parse Response": {
      "main": [
        [
          {
            "node": "P2: Prepare Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P2: Prepare Write": {
      "main": [
        [
          {
            "node": "P2: Write Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P2: Write Files": {
      "main": [
        [
          {
            "node": "P2: Store Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P2: Store Result": {
      "main": [
        [
          {
            "node": "P2: Continue Gate",
            "type": "main",
            "index": 0
          },
          {
            "node": "P2: Exit Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P2: Continue Gate": {
      "main": [
        [
          {
            "node": "P2: Stash Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P2: Exit Gate": {
      "main": [
        [
          {
            "node": "Build Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Check": {
      "main": [
        [
          {
            "node": "Build Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Route": {
      "main": [
        [
          {
            "node": "Auto-Fix Gate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Pass Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Fix Gate": {
      "main": [
        [
          {
            "node": "Auto-Fix: Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Fix: Prepare": {
      "main": [
        [
          {
            "node": "Auto-Fix: Call LM Studio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Fix: Call LM Studio": {
      "main": [
        [
          {
            "node": "Auto-Fix: Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Fix: Parse": {
      "main": [
        [
          {
            "node": "Auto-Fix: Write Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Fix: Write Files": {
      "main": [
        [
          {
            "node": "Build Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pass Gate": {
      "main": [
        [
          {
            "node": "Code Review: Build",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Review: Build": {
      "main": [
        [
          {
            "node": "Code Review: Call LM Studio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Review: Call LM Studio": {
      "main": [
        [
          {
            "node": "Code Review: Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Review: Parse": {
      "main": [
        [
          {
            "node": "Critical Bug Gate",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Bug Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Critical Bug Gate": {
      "main": [
        [
          {
            "node": "Fix: Build",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix: Build": {
      "main": [
        [
          {
            "node": "Fix: Call LM Studio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix: Call LM Studio": {
      "main": [
        [
          {
            "node": "Fix: Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix: Parse": {
      "main": [
        [
          {
            "node": "Fix: Write Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix: Write Files": {
      "main": [
        [
          {
            "node": "Pipeline Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Bug Gate": {
      "main": [
        [
          {
            "node": "Pipeline Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Report": {
      "main": [
        [
          {
            "node": "CB: Pipeline Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CB: Pipeline Complete": {
      "main": [
        [
          {
            "node": "Unload Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CB: Pipeline Started": {
      "main": [
        []
      ]
    },
    "CB: Planning Complete": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  }
}