workflows/unified-coding-agent.json
{
  "name": "AI Coding Agent (Unified)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "coding-agent",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "wh-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "b3f7a2d1-4e89-4c12-9f56-a1b2c3d4e5f6"
    },
    {
      "parameters": {
        "jsCode": "const query = $json.query || {};\nconst body = $json.body || $json;\nconst message = query.message || body.message || '';\nconst projectId = query.project_id || body.project_id || ('proj-' + Date.now());\nreturn [{ json: { message, project_id: projectId, operation: 'init', goal: message } }];"
      },
      "id": "extract-input",
      "name": "Extract Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const operation = $json.operation || 'get';\nconst projectId = $json.project_id;\nif (!projectId) return [{ json: { error: 'project_id required' } }];\nconst store = $getWorkflowStaticData('global');\nif (operation === 'init') {\n  if (store[projectId]) return [{ json: { ...store[projectId], already_exists: true } }];\n  store[projectId] = {\n    project_id: projectId,\n    goal: $json.goal || '',\n    status: 'active',\n    completed_tasks: [],\n    pending_tasks: [],\n    files: [],\n    created_at: new Date().toISOString(),\n    last_updated: new Date().toISOString()\n  };\n  return [{ json: store[projectId] }];\n}\nif (operation === 'get') {\n  return [{ json: store[projectId] || { project_id: projectId, exists: false } }];\n}\nif (operation === 'set') {\n  const existing = store[projectId] || {};\n  store[projectId] = { ...existing, ...$json.state, project_id: projectId, last_updated: new Date().toISOString() };\n  return [{ json: store[projectId] }];\n}\nreturn [{ json: { error: `Unknown operation: ${operation}` } }];"
      },
      "id": "init-memory",
      "name": "Init Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.FILE_API_URL || 'http://file-api:3456') + '/projects/' + $json.project_id + '/files-content' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + ($env.FILE_API_TOKEN || '') }}" }
          ]
        },
        "options": {}
      },
      "id": "fetch-project-files",
      "name": "Fetch Project Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const memory = $('Init Memory').first().json;\nconst message = $('Extract Input').first().json.message;\nconst allFiles = $json.files || [];\n\n// Build file list for the Planner\nconst fileList = allFiles.map(f => f.path);\n\n// Build lightweight API surface for Planner context\nconst apiSummary = [];\nfor (const f of allFiles) {\n  if (!f.path.match(/\\.(ts|tsx|js|jsx)$/) || f.path.includes('node_modules')) continue;\n  const lines = (f.content || '').split('\\n');\n  const exports = [];\n  for (const line of lines) {\n    const trimmed = line.trim();\n    if (/^export\\s/.test(trimmed)) {\n      exports.push(trimmed.replace(/\\{[\\s\\S]*$/, '{...}').replace(/=>[\\s\\S]*$/, '=> ...').substring(0, 120));\n    }\n  }\n  if (exports.length > 0) {\n    apiSummary.push(`${f.path}: ${exports.join('; ')}`);\n  }\n}\n\n// Extract dependencies\nlet deps = [];\nfor (const f of allFiles) {\n  if (f.path === 'package.json' || f.path.endsWith('/package.json')) {\n    try {\n      const pkg = JSON.parse(f.content);\n      deps = [...Object.keys(pkg.dependencies || {}), ...Object.keys(pkg.devDependencies || {})];\n    } catch(e) {}\n  }\n}\n\nconst staticData = $getWorkflowStaticData('global');\nstaticData._projectFileList = fileList;\nstaticData._projectApiSummary = apiSummary.join('\\n');\nstaticData._projectDeps = deps;\n\nreturn [{ json: {\n  message: message,\n  project_goal: memory.goal || message,\n  project_id: memory.project_id,\n  existing_files: fileList,\n  api_summary: apiSummary.join('\\n'),\n  installed_packages: deps\n} }];"
      },
      "id": "prepare-planner",
      "name": "Prepare Planner Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [950, 300]
    },
    {
      "parameters": {
        "jsCode": "const message = $json.message || '';\nconst existingFiles = $json.existing_files || [];\nconst apiSummary = $json.api_summary || '';\nconst installedPkgs = $json.installed_packages || [];\n\nlet projectContext = '';\nif (existingFiles.length > 0) {\n  projectContext += `\\n\\nEXISTING PROJECT FILES (use these EXACT paths \\u2014 do NOT invent file names):\\n${existingFiles.join('\\n')}\\n`;\n}\nif (apiSummary) {\n  projectContext += `\\nAPI SURFACE (exports from each file):\\n${apiSummary}\\n`;\n}\nif (installedPkgs.length > 0) {\n  projectContext += `\\nINSTALLED PACKAGES: ${installedPkgs.join(', ')}\\n`;\n}\n\nreturn [{\n  json: {\n    model: $env.PLANNER_MODEL || 'qwen/qwen3.5-9b',\n    messages: [{\n      role: 'user',\n      content: `You are a Senior Software Architect. Your job is to break a coding request into MULTIPLE structured tasks. Each task will be handled by a separate coder who writes files in batches of 2.\\n\\nRequest: ${message}${projectContext}\\n\\nOutput a JSON object with two fields:\\n\\n1. \"tasks\": array of task objects. IMPORTANT: You MUST create multiple tasks. Group files by concern (e.g. styles in one task, frontend components in another, backend routes in another, config/package.json in another). Each task has:\\n- task_id: string like \"TASK-001\"\\n- description: detailed actionable description of what to implement, including specific requirements, color values, component names, API endpoints, and behavior. The coder cannot see the original request \\u2014 your description is all they get.\\n- files: array of exact file paths to create or modify. List EVERY file this task needs \\u2014 the coder can ONLY write files listed here. Be precise with paths (e.g. \"client/src/App.tsx\", not \"App.tsx\").\\n- dependencies: array of task_id strings this task depends on (empty if none)\\n- complexity: \"low\", \"medium\", or \"high\"\\n\\n2. \"plan_document\": a concise markdown string (under 2000 chars) summarizing the architecture approach, shared interfaces, design patterns, and constraints.\\n\\nRULES:\\n- NEVER put all files in a single task. Split by concern: styles, components, routes, config, etc.\\n- Each task should touch at most 3-4 files\\n- The description must be SELF-CONTAINED \\u2014 include ALL details the coder needs (colors, class names, API contracts, state management, imports)\\n- Do NOT invent npm packages that may not exist \\u2014 prefer CSS-only solutions unless the user specifically names a real package\\n- Output ONLY the raw JSON object starting with { and ending with }\\n- No markdown, no XML, no explanation \\u2014 ONLY the JSON`\n    }],\n    temperature: 0.7,\n    top_p: 0.8,\n    top_k: 20,\n    min_p: 0.0,\n    presence_penalty: 1.5,\n    max_tokens: 8192\n  }\n}];"
      },
      "id": "planner-build",
      "name": "Planner: Build Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LM_STUDIO_URL || 'http://10.0.0.100:1234/v1/chat/completions' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.LLM_API_KEY }}" }
          ]
        }
      },
      "id": "planner-llm",
      "name": "Planner: Call LM Studio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices[0].message.content || $json.choices[0].message.reasoning_content || '';\nlet content = raw.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\nif (content.includes('</think>')) content = content.split('</think>').pop().trim();\ncontent = content.replace(/<\\/?task>/g, '').trim();\ncontent = content.replace(/\\n+(?:Reasoning|Note|Explanation):[\\s\\S]*/i, '').trim();\ncontent = content.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '').trim();\nlet tasks, planDocument;\ntry {\n  const parsed = JSON.parse(content);\n  if (Array.isArray(parsed)) {\n    tasks = parsed;\n    planDocument = '';\n  } else {\n    tasks = parsed.tasks || [parsed];\n    planDocument = parsed.plan_document || '';\n  }\n} catch (e) {\n  tasks = [{ task_id: 'TASK-FALLBACK-' + Date.now(), description: content, dependencies: [], complexity: 'high', raw_output: content }];\n  planDocument = '';\n}\nreturn [{ json: { tasks, plan_document: planDocument } }];"
      },
      "id": "planner-parse",
      "name": "Planner: Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "jsCode": "const tasks = $json.tasks || [];\nconst planDocument = $json.plan_document || '';\nconst plannerInput = $('Prepare Planner Input').first().json;\nconst projectId = plannerInput.project_id;\nconst projectGoal = plannerInput.project_goal;\nconst taskMap = new Map();\ntasks.forEach(t => taskMap.set(t.task_id, t));\nconst inDegree = new Map();\nconst dependents = new Map();\ntasks.forEach(t => {\n  inDegree.set(t.task_id, 0);\n  dependents.set(t.task_id, []);\n});\ntasks.forEach(t => {\n  const deps = (t.dependencies || []).filter(d => taskMap.has(d));\n  inDegree.set(t.task_id, deps.length);\n  deps.forEach(d => dependents.get(d).push(t.task_id));\n});\nconst queue = [];\ntasks.forEach(t => {\n  if (inDegree.get(t.task_id) === 0) queue.push(t.task_id);\n});\nconst sorted = [];\nwhile (queue.length > 0) {\n  const id = queue.shift();\n  sorted.push(taskMap.get(id));\n  for (const dep of (dependents.get(id) || [])) {\n    inDegree.set(dep, inDegree.get(dep) - 1);\n    if (inDegree.get(dep) === 0) queue.push(dep);\n  }\n}\nif (sorted.length < tasks.length) {\n  const sortedIds = new Set(sorted.map(t => t.task_id));\n  tasks.forEach(t => { if (!sortedIds.has(t.task_id)) sorted.push(t); });\n}\nconst staticData = $getWorkflowStaticData('global');\nstaticData.pendingTasks = sorted.slice(1).map(t => ({ task: t, project_id: projectId, project_goal: projectGoal, plan_document: planDocument }));\nstaticData.taskResults = [];\nconst firstTask = sorted[0] || { task_id: 'T1', description: 'No tasks planned' };\nreturn [{ json: { task: firstTask, project_id: projectId, project_goal: projectGoal, plan_document: planDocument } }];"
      },
      "id": "spread-tasks",
      "name": "Spread Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData._currentTask = {\n  task: $json.task,\n  project_id: $json.project_id,\n  project_goal: $json.project_goal,\n  plan_document: $json.plan_document\n};\nreturn [$input.first()];"
      },
      "id": "stash-task",
      "name": "Stash Task Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "jsCode": "const trigger = $json;\nconst task = trigger.task || {};\nconst taskFiles = task.files || [];\nconst projectId = trigger.project_id;\nconst projectGoal = trigger.project_goal || '';\nconst planDocument = trigger.plan_document || '';\nconst chunkSize = 2;\nconst chunks = [];\nfor (let i = 0; i < taskFiles.length; i += chunkSize) {\n  chunks.push(taskFiles.slice(i, i + chunkSize));\n}\nif (chunks.length === 0) chunks.push([]);\nconst staticData = $getWorkflowStaticData('global');\nstaticData.pendingChunks = chunks.slice(1).map(chunkFiles => ({\n  chunk_files: chunkFiles,\n  task: task,\n  project_id: projectId,\n  project_goal: projectGoal,\n  plan_document: planDocument\n}));\nstaticData.chunkResults = [];\nreturn [{ json: {\n  chunk_files: chunks[0],\n  task: task,\n  project_id: projectId,\n  project_goal: projectGoal,\n  plan_document: planDocument\n} }];"
      },
      "id": "split-chunks",
      "name": "Split Into Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData._currentChunk = {\n  chunk_files: $json.chunk_files,\n  task: $json.task,\n  project_id: $json.project_id,\n  project_goal: $json.project_goal,\n  plan_document: $json.plan_document\n};\nreturn [$input.first()];"
      },
      "id": "stash-chunk",
      "name": "Stash Chunk Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.FILE_API_URL || 'http://file-api:3456') + '/projects/' + $json.project_id + '/files-content' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + ($env.FILE_API_TOKEN || '') }}" }
          ]
        },
        "options": {}
      },
      "id": "chunk-read-files",
      "name": "Chunk: Read Existing Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2450, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Research: Build Project Context\n// Extracts API surface and dependency manifest from ALL project files\n// so the Code Writer has cross-file visibility without needing full file contents.\nconst allFiles = $json.files || [];\n\n// 1. Extract dependency manifest from package.json\nlet dependencies = {};\nlet devDependencies = {};\nfor (const f of allFiles) {\n  if (f.path === 'package.json' || f.path.endsWith('/package.json')) {\n    try {\n      const pkg = JSON.parse(f.content);\n      dependencies = { ...dependencies, ...(pkg.dependencies || {}) };\n      devDependencies = { ...devDependencies, ...(pkg.devDependencies || {}) };\n    } catch(e) {}\n  }\n}\n\n// 2. Build API surface: exports, interfaces, types, function signatures\nconst apiSurface = [];\nfor (const f of allFiles) {\n  if (!f.path.match(/\\.(ts|tsx|js|jsx)$/) || f.path.includes('node_modules')) continue;\n  const lines = (f.content || '').split('\\n');\n  const exports = [];\n  for (const line of lines) {\n    const trimmed = line.trim();\n    // export default\n    if (/^export\\s+default\\s/.test(trimmed)) {\n      exports.push(trimmed.replace(/\\{[\\s\\S]*$/, '{...}').substring(0, 120));\n    }\n    // named exports: export const/function/class/interface/type\n    else if (/^export\\s+(const|let|var|function|class|interface|type|enum)\\s/.test(trimmed)) {\n      exports.push(trimmed.replace(/\\{[\\s\\S]*$/, '{...}').replace(/=>[\\s\\S]*$/, '=> ...').substring(0, 150));\n    }\n    // re-exports\n    else if (/^export\\s+\\{/.test(trimmed)) {\n      exports.push(trimmed.substring(0, 150));\n    }\n  }\n  if (exports.length > 0) {\n    apiSurface.push(`## ${f.path}\\n${exports.join('\\n')}`);\n  }\n}\n\n// 3. Build the research context string\nconst depList = Object.entries(dependencies).map(([k,v]) => `  ${k}: ${v}`).join('\\n');\nconst devDepList = Object.entries(devDependencies).map(([k,v]) => `  ${k}: ${v}`).join('\\n');\n\nlet researchDocs = '';\nif (depList || devDepList) {\n  researchDocs += '## Dependency Manifest\\nRULE: Do NOT import any package not listed here.\\n';\n  if (depList) researchDocs += `dependencies:\\n${depList}\\n`;\n  if (devDepList) researchDocs += `devDependencies:\\n${devDepList}\\n`;\n}\nif (apiSurface.length > 0) {\n  researchDocs += '\\n## Project API Surface\\nRULE: When importing from project files, match these signatures EXACTLY.\\n';\n  researchDocs += apiSurface.join('\\n\\n');\n}\n\n// Store in static data for downstream access\nconst staticData = $getWorkflowStaticData('global');\nstaticData._researchDocs = researchDocs;\n\nreturn [{ json: { ...$json, _researchDocs: researchDocs } }];"
      },
      "id": "research-context",
      "name": "Research: Build Project Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2550, 300]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $getWorkflowStaticData('global')._currentChunk;\nconst chunkFiles = ctx.chunk_files || [];\nconst allFiles = $json.files || [];\nconst existingFiles = chunkFiles.length > 0\n  ? allFiles.filter(f => chunkFiles.includes(f.path))\n  : allFiles;\nconst task = { ...(ctx.task || {}) };\nif (chunkFiles.length > 0) task.files = chunkFiles;\nreturn [{ json: {\n  task,\n  existing_files: existingFiles,\n  plan_document: ctx.plan_document || '',\n  project_goal: ctx.project_goal || '',\n  previous_feedback: '',\n  project_id: ctx.project_id,\n  research_docs: $json._researchDocs || $getWorkflowStaticData('global')._researchDocs || ''\n} }];"
      },
      "id": "chunk-build-input",
      "name": "Chunk: Build Code Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2650, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst previousFeedback = input.previous_feedback || '';\nconst isRetry = previousFeedback.trim().length > 0;\nconst planDocument = input.plan_document || '';\n\nlet taskDescription = input.task?.description || input.description || '';\nif (!taskDescription && input.task?.raw_output) {\n  const raw = input.task.raw_output;\n  const cleaned = raw.replace(/<\\/?task>/g, '').replace(/\\n+(?:Reasoning|Note):[\\s\\S]*/i, '').trim();\n  try {\n    const parsed = JSON.parse(cleaned);\n    const list = Array.isArray(parsed) ? parsed : (parsed.tasks || []);\n    taskDescription = list.map(t => `${t.task_id}: ${t.description}`).join('\\n\\n');\n  } catch(e) { taskDescription = raw; }\n}\n\nconst taskFiles = (input.task || {}).files || [];\nconst filesConstraint = taskFiles.length > 0\n  ? '\\n\\nFILES TO MODIFY (ONLY output these files):\\n' + taskFiles.join('\\n')\n  : '';\n\nconst existingFiles = input.existing_files || [];\nconst existingFilesSection = existingFiles.length > 0\n  ? '\\n\\nEXISTING PROJECT FILES (modify or extend these \\u2014 do NOT rewrite files that do not need changes):\\n' +\n    existingFiles.map(f => `### ${f.path}\\n\\`\\`\\`\\n${f.content}\\n\\`\\`\\``).join('\\n\\n')\n  : '';\n\nlet userContent;\nif (isRetry) {\n  userContent = `Task:\\n${taskDescription}${filesConstraint}${existingFilesSection}\\n\\nIssues found in your previous code. Fix ALL of them:\\n\\n${previousFeedback}\\n\\nOutput only the files that need to change, using the ### path/to/file.ext \\`\\`\\`lang ... \\`\\`\\` format.`;\n} else {\n  userContent = `Task:\\n${taskDescription}${filesConstraint}${existingFilesSection}`;\n}\n\nlet systemMessage = `You are a Senior Full-Stack Developer. Output ONLY the files that need to be created or changed. Do not output files that are already correct.\\n\\nTech Stack: TypeScript, Node.js/Express, React/Vite, PostgreSQL/Prisma\\n\\nFor EACH file you need to create or modify, output EXACTLY this format:\\n### path/to/file.ts\\n\\`\\`\\`ts\\n[complete file content]\\n\\`\\`\\`\\n\\nRULES:\\n- Only output files that this task requires you to create or change\\n- Output complete file content (not diffs)\\n- No explanations, no numbered lists, no prose \\u2014 ONLY the file blocks\\n- NEVER output files that are not listed in the FILES TO MODIFY section`;\n\nif (planDocument) {\n  systemMessage += `\\n\\nARCHITECTURE REFERENCE (follow this plan):\\n${planDocument}`;\n}\n\nconst researchDocs = input.research_docs || '';\nif (researchDocs) {\n  systemMessage += `\\n\\nPROJECT CONTEXT (from research agent):\\n${researchDocs}`;\n}\n\nreturn [{ json: {\n  model: $env.CODER_MODEL || 'qwen/qwen2.5-coder-32b-instruct',\n  messages: [\n    { role: 'system', content: systemMessage },\n    { role: 'user', content: userContent }\n  ],\n  temperature: 0.7,\n  max_tokens: 16000,\n  stop: ['<|fim_suffix|>', '<|fim_prefix|>', '<|fim_middle|>', '<|endoftext|>']\n} }];"
      },
      "id": "cw-prepare",
      "name": "CW: Prepare Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LM_STUDIO_URL || 'http://10.0.0.100:1234/v1/chat/completions' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 300000 },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.LLM_API_KEY }}" }
          ]
        }
      },
      "id": "cw-llm",
      "name": "CW: Call LM Studio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3050, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices[0].message.content || $json.choices[0].message.reasoning_content || '';\nlet content = raw.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\nif (content.includes('</think>')) {\n  content = content.split('</think>').pop().trim();\n}\nconst files = [];\nconst seen = new Set();\nconst re = /###\\s+((?:[\\w.-]+\\/)*(?:\\.\\w[\\w.-]*|[\\w.-]+\\.(?:ts|tsx|js|jsx|json|md|yml|yaml|env|prisma|css|html|sh|txt|lock|toml|cfg|ini)|Dockerfile|Makefile|LICENSE|CHANGELOG))\\s*\\n```[\\w]*\\n([\\s\\S]*?)```/g;\nlet m;\nwhile ((m = re.exec(content)) !== null) {\n  const path = m[1].trim();\n  const fileContent = m[2];\n  if (path && !seen.has(path)) {\n    seen.add(path);\n    files.push({ path, content: fileContent });\n  }\n}\nconst ctx = $getWorkflowStaticData('global')._currentChunk;\nreturn [{ json: { files, task: ctx.task, project_goal: ctx.project_goal } }];"
      },
      "id": "cw-parse",
      "name": "CW: Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3250, 300]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $getWorkflowStaticData('global')._currentChunk;\nconst chunkFiles = ctx.chunk_files || [];\nconst existingFiles = $('Chunk: Build Code Input').first().json.existing_files || [];\nconst newFiles = $json.files || [];\nconst fileMap = new Map();\nexistingFiles.forEach(f => fileMap.set(f.path, f));\nnewFiles.forEach(f => fileMap.set(f.path, f));\nconst mergedFiles = chunkFiles.length > 0\n  ? Array.from(fileMap.values()).filter(f => chunkFiles.includes(f.path))\n  : Array.from(fileMap.values());\nreturn [{ json: {\n  files: mergedFiles,\n  task: $json.task,\n  project_goal: $json.project_goal\n} }];"
      },
      "id": "chunk-merge",
      "name": "Chunk: Merge For Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3450, 300]
    },
    {
      "parameters": {
        "jsCode": "const files = $json.files || [];\nconst taskDesc = $json.task?.description || $json.description || '';\nconst projectGoal = $json.project_goal || '';\nconst code = files.map(f => `### ${f.path}\\n\\`\\`\\`\\n${f.content}\\n\\`\\`\\``).join('\\n\\n');\nconst context = (projectGoal || taskDesc) ? `\\n\\nProject Goal: ${projectGoal}\\nCurrent Task: ${taskDesc}\\n` : '';\nreturn [{\n  json: {\n    model: $env.REVIEWER_MODEL || 'qwen/qwen3.5-9b',\n    messages: [{\n      role: 'user',\n      content: `You are a Senior Code Reviewer. Evaluate this code for BOTH security and quality.${context}\\n\\nCode:\\n${code}\\n\\nReturn ONLY valid JSON (no markdown, no explanation):\\n{\"quality_score\":number,\"job_complete\":boolean,\"security_issues\":[{\"severity\":\"critical|high|medium\",\"issue\":\"...\",\"fix\":\"...\"}],\"quality_improvements\":[{\"area\":\"...\",\"fix\":\"...\"}]}\\n\\nRULES:\\n- quality_score: overall code quality 0-100\\n- job_complete: true ONLY if ALL requirements from the task are fully implemented\\n- security_issues: OWASP Top 10 vulnerabilities. Empty array if none found.\\n- quality_improvements: specific actionable fixes. Empty array if code is good.\\n- Do NOT flag style preferences, only real bugs and security issues.`\n    }],\n    temperature: 0.3,\n    top_p: 0.8,\n    top_k: 20,\n    min_p: 0.0,\n    presence_penalty: 0.0,\n    max_tokens: 4096\n  }\n}];"
      },
      "id": "review-build",
      "name": "Review: Build Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LM_STUDIO_URL || 'http://10.0.0.100:1234/v1/chat/completions' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 120000 },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.LLM_API_KEY }}" }
          ]
        }
      },
      "id": "review-llm",
      "name": "Review: Call LM Studio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3850, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices[0].message.content || '';\nlet content = raw.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\nif (content.includes('</think>')) content = content.split('</think>').pop().trim();\ncontent = content.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '').trim();\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\nlet review;\ntry { review = JSON.parse(jsonMatch ? jsonMatch[0] : content); } catch (e) { review = { raw_output: content }; }\nconst upstream = $('Chunk: Merge For Review').first().json;\nreturn [{ json: { review, files: upstream.files, task: upstream.task, project_goal: upstream.project_goal } }];"
      },
      "id": "review-parse",
      "name": "Review: Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4050, 300]
    },
    {
      "parameters": {
        "jsCode": "const review = $json.review || {};\nconst parseFailed = !!review.raw_output;\nconst score = review.quality_score || 0;\nconst jobComplete = review.job_complete === true;\nconst criticalCount = (review.security_issues || []).filter(i => i.severity === 'critical').length;\nlet shouldPass;\nif (parseFailed) {\n  shouldPass = true;\n} else {\n  shouldPass = (jobComplete || score >= 80) && criticalCount === 0;\n}\nconst feedback = [\n  ...(review.security_issues || []).map(i => `SECURITY ${i.severity.toUpperCase()}: ${i.issue} \\u2192 ${i.fix}`),\n  ...(review.quality_improvements || []).map(a => `QUALITY: ${a.area} \\u2192 ${a.fix}`),\n  ...(parseFailed ? ['REVIEW: Parser failed \\u2014 accepting code as-is'] : [])\n].join('\\n');\nreturn [{ json: {\n  should_pass: shouldPass,\n  files: $json.files || [],\n  review,\n  feedback\n} }];"
      },
      "id": "chunk-gate",
      "name": "Chunk: Review Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "pass-check",
              "leftValue": "={{ $json.should_pass }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "chunk-done",
      "name": "Chunk: Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [4450, 300]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $getWorkflowStaticData('global')._currentChunk;\nconst chunkFiles = ctx.chunk_files || [];\nconst existingFiles = $('Chunk: Build Code Input').first().json.existing_files || [];\nconst fileMap = new Map();\nexistingFiles.forEach(f => fileMap.set(f.path, f));\n($json.files || []).forEach(f => fileMap.set(f.path, f));\nconst mergedFiles = chunkFiles.length > 0\n  ? Array.from(fileMap.values()).filter(f => chunkFiles.includes(f.path))\n  : Array.from(fileMap.values());\nconst task = { ...(ctx.task || {}) };\nif (chunkFiles.length > 0) task.files = chunkFiles;\nreturn [{ json: {\n  task,\n  existing_files: mergedFiles,\n  plan_document: ctx.plan_document || '',\n  project_goal: ctx.project_goal || '',\n  previous_feedback: $json.feedback,\n  project_id: ctx.project_id,\n  research_docs: $getWorkflowStaticData('global')._researchDocs || ''\n} }];"
      },
      "id": "chunk-retry-input",
      "name": "Chunk: Build Retry Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4650, 500]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst previousFeedback = input.previous_feedback || '';\nconst isRetry = previousFeedback.trim().length > 0;\nconst planDocument = input.plan_document || '';\n\nlet taskDescription = input.task?.description || input.description || '';\nif (!taskDescription && input.task?.raw_output) {\n  const raw = input.task.raw_output;\n  const cleaned = raw.replace(/<\\/?task>/g, '').replace(/\\n+(?:Reasoning|Note):[\\s\\S]*/i, '').trim();\n  try {\n    const parsed = JSON.parse(cleaned);\n    const list = Array.isArray(parsed) ? parsed : (parsed.tasks || []);\n    taskDescription = list.map(t => `${t.task_id}: ${t.description}`).join('\\n\\n');\n  } catch(e) { taskDescription = raw; }\n}\n\nconst taskFiles = (input.task || {}).files || [];\nconst filesConstraint = taskFiles.length > 0\n  ? '\\n\\nFILES TO MODIFY (ONLY output these files):\\n' + taskFiles.join('\\n')\n  : '';\n\nconst existingFiles = input.existing_files || [];\nconst existingFilesSection = existingFiles.length > 0\n  ? '\\n\\nEXISTING PROJECT FILES (modify or extend these \\u2014 do NOT rewrite files that do not need changes):\\n' +\n    existingFiles.map(f => `### ${f.path}\\n\\`\\`\\`\\n${f.content}\\n\\`\\`\\``).join('\\n\\n')\n  : '';\n\nlet userContent;\nif (isRetry) {\n  userContent = `Task:\\n${taskDescription}${filesConstraint}${existingFilesSection}\\n\\nIssues found in your previous code. Fix ALL of them:\\n\\n${previousFeedback}\\n\\nOutput only the files that need to change, using the ### path/to/file.ext \\`\\`\\`lang ... \\`\\`\\` format.`;\n} else {\n  userContent = `Task:\\n${taskDescription}${filesConstraint}${existingFilesSection}`;\n}\n\nlet systemMessage = `You are a Senior Full-Stack Developer. Output ONLY the files that need to be created or changed. Do not output files that are already correct.\\n\\nTech Stack: TypeScript, Node.js/Express, React/Vite, PostgreSQL/Prisma\\n\\nFor EACH file you need to create or modify, output EXACTLY this format:\\n### path/to/file.ts\\n\\`\\`\\`ts\\n[complete file content]\\n\\`\\`\\`\\n\\nRULES:\\n- Only output files that this task requires you to create or change\\n- Output complete file content (not diffs)\\n- No explanations, no numbered lists, no prose \\u2014 ONLY the file blocks\\n- NEVER output files that are not listed in the FILES TO MODIFY section`;\n\nif (planDocument) {\n  systemMessage += `\\n\\nARCHITECTURE REFERENCE (follow this plan):\\n${planDocument}`;\n}\n\nconst researchDocs = input.research_docs || '';\nif (researchDocs) {\n  systemMessage += `\\n\\nPROJECT CONTEXT (from research agent):\\n${researchDocs}`;\n}\n\nreturn [{ json: {\n  model: $env.CODER_MODEL || 'qwen/qwen2.5-coder-32b-instruct',\n  messages: [\n    { role: 'system', content: systemMessage },\n    { role: 'user', content: userContent }\n  ],\n  temperature: 0.7,\n  max_tokens: 16000,\n  stop: ['<|fim_suffix|>', '<|fim_prefix|>', '<|fim_middle|>', '<|endoftext|>']\n} }];"
      },
      "id": "cw-retry-prepare",
      "name": "CW Retry: Prepare Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4850, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LM_STUDIO_URL || 'http://10.0.0.100:1234/v1/chat/completions' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 300000 },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.LLM_API_KEY }}" }
          ]
        }
      },
      "id": "cw-retry-llm",
      "name": "CW Retry: Call LM Studio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5050, 500]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices[0].message.content || $json.choices[0].message.reasoning_content || '';\nlet content = raw.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\nif (content.includes('</think>')) {\n  content = content.split('</think>').pop().trim();\n}\nconst files = [];\nconst seen = new Set();\nconst re = /###\\s+((?:[\\w.-]+\\/)*(?:\\.\\w[\\w.-]*|[\\w.-]+\\.(?:ts|tsx|js|jsx|json|md|yml|yaml|env|prisma|css|html|sh|txt|lock|toml|cfg|ini)|Dockerfile|Makefile|LICENSE|CHANGELOG))\\s*\\n```[\\w]*\\n([\\s\\S]*?)```/g;\nlet m;\nwhile ((m = re.exec(content)) !== null) {\n  const path = m[1].trim();\n  const fileContent = m[2];\n  if (path && !seen.has(path)) {\n    seen.add(path);\n    files.push({ path, content: fileContent });\n  }\n}\nconst ctx = $getWorkflowStaticData('global')._currentChunk;\nreturn [{ json: { files, task: ctx.task, project_goal: ctx.project_goal } }];"
      },
      "id": "cw-retry-parse",
      "name": "CW Retry: Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5250, 500]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $getWorkflowStaticData('global')._currentChunk;\nconst projectId = ctx.project_id;\nconst chunkFiles = ctx.chunk_files || [];\nconst diskFiles = $('Chunk: Read Existing Files').first().json.files || [];\nconst generatedFiles = $json.files || [];\nconst existingPaths = new Set(diskFiles.map(f => f.path));\nlet filteredFiles = chunkFiles.length > 0\n  ? generatedFiles.filter(f => chunkFiles.includes(f.path) || !existingPaths.has(f.path))\n  : generatedFiles;\nconst pkgPaths = ['package.json', 'client/package.json'];\nfor (const pkgPath of pkgPaths) {\n  const pkgIdx = filteredFiles.findIndex(f => f.path === pkgPath);\n  if (pkgIdx !== -1) {\n    const diskPkg = diskFiles.find(f => f.path === pkgPath);\n    if (diskPkg) {\n      try {\n        const existing = JSON.parse(diskPkg.content);\n        const generated = JSON.parse(filteredFiles[pkgIdx].content);\n        existing.dependencies = { ...(existing.dependencies || {}), ...(generated.dependencies || {}) };\n        existing.devDependencies = { ...(existing.devDependencies || {}), ...(generated.devDependencies || {}) };\n        if (generated.scripts) existing.scripts = { ...(existing.scripts || {}), ...(generated.scripts || {}) };\n        filteredFiles[pkgIdx] = { path: pkgPath, content: JSON.stringify(existing, null, 2) + '\\n' };\n      } catch(e) {}\n    }\n  }\n}\nif (filteredFiles.length === 0) {\n  return [{ json: { project_id: projectId, files: [], _skipWrite: true } }];\n}\nreturn [{ json: { project_id: projectId, files: filteredFiles } }];"
      },
      "id": "chunk-prepare-write",
      "name": "Chunk: Prepare Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.FILE_API_URL || 'http://file-api:3456') + '/projects/' + $json.project_id + '/files-batch' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ 'Bearer ' + ($env.FILE_API_TOKEN || '') }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ files: $json.files }) }}",
        "options": {}
      },
      "id": "chunk-write",
      "name": "Chunk: Write Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5650, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $getWorkflowStaticData('global')._currentChunk;\nconst preparedFiles = $('Chunk: Prepare Write').first().json.files || [];\nconst filesWritten = preparedFiles.map(f => f.path);\nreturn [{ json: {\n  chunk_files: ctx.chunk_files || [],\n  files_written: filesWritten,\n  success: true\n} }];"
      },
      "id": "chunk-result",
      "name": "Chunk: Build Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5850, 300]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.chunkResults) staticData.chunkResults = [];\nstaticData.chunkResults.push($json);\nconst hasMore = (staticData.pendingChunks || []).length > 0;\nreturn [{ json: { ...($json), _hasMoreChunks: hasMore } }];"
      },
      "id": "store-chunk",
      "name": "Store Chunk Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "more-chunks",
              "leftValue": "={{ $json._hasMoreChunks }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "more-chunks",
      "name": "More Chunks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [6250, 300]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst pending = staticData.pendingChunks || [];\nconst next = pending.shift();\nstaticData.pendingChunks = pending;\nreturn [{ json: next }];"
      },
      "id": "next-chunk",
      "name": "Get Next Chunk",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6450, 200]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst results = staticData.chunkResults || [];\nstaticData.chunkResults = [];\nstaticData.pendingChunks = [];\nconst allFilesWritten = [...new Set(results.flatMap(r => r.files_written || []))];\nreturn [{ json: { files_written: allFilesWritten, chunks_processed: results.length, success: results.every(r => r.success) } }];"
      },
      "id": "collect-chunks",
      "name": "Collect Chunk Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6450, 450]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $getWorkflowStaticData('global')._currentTask;\nconst task = ctx.task || {};\nconst aggregated = $json;\nreturn [{ json: {\n  task_id: task.task_id || 'unknown',\n  description: task.description || '',\n  files_written: aggregated.files_written || [],\n  chunks_processed: aggregated.chunks_processed || 0,\n  fixed: false\n} }];"
      },
      "id": "build-task-result",
      "name": "Build Task Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6650, 450]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.taskResults) staticData.taskResults = [];\nstaticData.taskResults.push($json);\nconst hasMore = (staticData.pendingTasks || []).length > 0;\nreturn [{ json: { ...($json), _hasMoreTasks: hasMore } }];"
      },
      "id": "store-task",
      "name": "Store Task Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6850, 450]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "more-tasks",
              "leftValue": "={{ $json._hasMoreTasks }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "more-tasks",
      "name": "More Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [7050, 450]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst pending = staticData.pendingTasks || [];\nconst next = pending.shift();\nstaticData.pendingTasks = pending;\nreturn [{ json: next }];"
      },
      "id": "next-task",
      "name": "Get Next Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [7250, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst results = staticData.taskResults || [];\nstaticData.taskResults = [];\nstaticData.pendingTasks = [];\nreturn results.map(r => ({ json: r }));"
      },
      "id": "collect-tasks",
      "name": "Collect Task Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [7250, 600]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const taskResults = $input.all().map(item => item.json);\nconst allFiles = [...new Set(taskResults.flatMap(r => r.files_written || []))];\nconst projectId = $('Prepare Planner Input').first().json.project_id;\nconst projectGoal = $('Prepare Planner Input').first().json.project_goal;\nreturn [{ json: { task_results: taskResults, all_files: allFiles, project_id: projectId, project_goal: projectGoal } }];"
      },
      "id": "aggregate",
      "name": "Aggregate All Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [7450, 600]
    },
    {
      "parameters": {
        "jsCode": "const taskResults = $json.task_results || [];\nconst allFiles = $json.all_files || [];\nconst projectId = $json.project_id;\nconst completedTaskIds = taskResults.map(r => r.task_id);\nreturn [{ json: {\n  operation: 'set',\n  project_id: projectId,\n  state: {\n    status: 'completed',\n    completed_tasks: completedTaskIds,\n    files: allFiles\n  }\n} }];"
      },
      "id": "prepare-mem-update",
      "name": "Prepare Memory Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [7650, 600]
    },
    {
      "parameters": {
        "jsCode": "const operation = $json.operation || 'get';\nconst projectId = $json.project_id;\nif (!projectId) return [{ json: { error: 'project_id required' } }];\nconst store = $getWorkflowStaticData('global');\nif (operation === 'set') {\n  const existing = store[projectId] || {};\n  store[projectId] = { ...existing, ...$json.state, project_id: projectId, last_updated: new Date().toISOString() };\n  return [{ json: store[projectId] }];\n}\nreturn [{ json: store[projectId] || { project_id: projectId } }];"
      },
      "id": "update-memory",
      "name": "Update Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [7850, 600]
    },
    {
      "parameters": {
        "jsCode": "const memory = $json;\nconst aggregated = $('Aggregate All Results').first().json;\nreturn [{ json: {\n  status: 'completed',\n  project_id: memory.project_id,\n  project_goal: memory.goal,\n  tasks_completed: (aggregated.task_results || []).length,\n  task_results: aggregated.task_results || [],\n  files_written: memory.files || []\n} }];"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [8050, 600]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Extract Input", "type": "main", "index": 0 }]] },
    "Extract Input": { "main": [[{ "node": "Init Memory", "type": "main", "index": 0 }]] },
    "Init Memory": { "main": [[{ "node": "Fetch Project Files", "type": "main", "index": 0 }]] },
    "Fetch Project Files": { "main": [[{ "node": "Prepare Planner Input", "type": "main", "index": 0 }]] },
    "Prepare Planner Input": { "main": [[{ "node": "Planner: Build Request", "type": "main", "index": 0 }]] },
    "Planner: Build Request": { "main": [[{ "node": "Planner: Call LM Studio", "type": "main", "index": 0 }]] },
    "Planner: Call LM Studio": { "main": [[{ "node": "Planner: Parse Response", "type": "main", "index": 0 }]] },
    "Planner: Parse Response": { "main": [[{ "node": "Spread Tasks", "type": "main", "index": 0 }]] },
    "Spread Tasks": { "main": [[{ "node": "Stash Task Context", "type": "main", "index": 0 }]] },
    "Stash Task Context": { "main": [[{ "node": "Split Into Chunks", "type": "main", "index": 0 }]] },
    "Split Into Chunks": { "main": [[{ "node": "Stash Chunk Context", "type": "main", "index": 0 }]] },
    "Stash Chunk Context": { "main": [[{ "node": "Chunk: Read Existing Files", "type": "main", "index": 0 }]] },
    "Chunk: Read Existing Files": { "main": [[{ "node": "Research: Build Project Context", "type": "main", "index": 0 }]] },
    "Research: Build Project Context": { "main": [[{ "node": "Chunk: Build Code Input", "type": "main", "index": 0 }]] },
    "Chunk: Build Code Input": { "main": [[{ "node": "CW: Prepare Message", "type": "main", "index": 0 }]] },
    "CW: Prepare Message": { "main": [[{ "node": "CW: Call LM Studio", "type": "main", "index": 0 }]] },
    "CW: Call LM Studio": { "main": [[{ "node": "CW: Parse Response", "type": "main", "index": 0 }]] },
    "CW: Parse Response": { "main": [[{ "node": "Chunk: Merge For Review", "type": "main", "index": 0 }]] },
    "Chunk: Merge For Review": { "main": [[{ "node": "Review: Build Request", "type": "main", "index": 0 }]] },
    "Review: Build Request": { "main": [[{ "node": "Review: Call LM Studio", "type": "main", "index": 0 }]] },
    "Review: Call LM Studio": { "main": [[{ "node": "Review: Parse Response", "type": "main", "index": 0 }]] },
    "Review: Parse Response": { "main": [[{ "node": "Chunk: Review Gate", "type": "main", "index": 0 }]] },
    "Chunk: Review Gate": { "main": [[{ "node": "Chunk: Done?", "type": "main", "index": 0 }]] },
    "Chunk: Done?": {
      "main": [
        [{ "node": "Chunk: Prepare Write", "type": "main", "index": 0 }],
        [{ "node": "Chunk: Build Retry Input", "type": "main", "index": 0 }]
      ]
    },
    "Chunk: Build Retry Input": { "main": [[{ "node": "CW Retry: Prepare Message", "type": "main", "index": 0 }]] },
    "CW Retry: Prepare Message": { "main": [[{ "node": "CW Retry: Call LM Studio", "type": "main", "index": 0 }]] },
    "CW Retry: Call LM Studio": { "main": [[{ "node": "CW Retry: Parse Response", "type": "main", "index": 0 }]] },
    "CW Retry: Parse Response": { "main": [[{ "node": "Chunk: Prepare Write", "type": "main", "index": 0 }]] },
    "Chunk: Prepare Write": { "main": [[{ "node": "Chunk: Write Files", "type": "main", "index": 0 }]] },
    "Chunk: Write Files": { "main": [[{ "node": "Chunk: Build Result", "type": "main", "index": 0 }]] },
    "Chunk: Build Result": { "main": [[{ "node": "Store Chunk Result", "type": "main", "index": 0 }]] },
    "Store Chunk Result": { "main": [[{ "node": "More Chunks?", "type": "main", "index": 0 }]] },
    "More Chunks?": {
      "main": [
        [{ "node": "Get Next Chunk", "type": "main", "index": 0 }],
        [{ "node": "Collect Chunk Results", "type": "main", "index": 0 }]
      ]
    },
    "Get Next Chunk": { "main": [[{ "node": "Stash Chunk Context", "type": "main", "index": 0 }]] },
    "Collect Chunk Results": { "main": [[{ "node": "Build Task Result", "type": "main", "index": 0 }]] },
    "Build Task Result": { "main": [[{ "node": "Store Task Result", "type": "main", "index": 0 }]] },
    "Store Task Result": { "main": [[{ "node": "More Tasks?", "type": "main", "index": 0 }]] },
    "More Tasks?": {
      "main": [
        [{ "node": "Get Next Task", "type": "main", "index": 0 }],
        [{ "node": "Collect Task Results", "type": "main", "index": 0 }]
      ]
    },
    "Get Next Task": { "main": [[{ "node": "Stash Task Context", "type": "main", "index": 0 }]] },
    "Collect Task Results": { "main": [[{ "node": "Aggregate All Results", "type": "main", "index": 0 }]] },
    "Aggregate All Results": { "main": [[{ "node": "Prepare Memory Update", "type": "main", "index": 0 }]] },
    "Prepare Memory Update": { "main": [[{ "node": "Update Memory", "type": "main", "index": 0 }]] },
    "Update Memory": { "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
